@page "/data/album/{ApiKey:guid}/{FromUrl?}"
@inherits MelodeeComponentBase
@using Melodee.Blazor.ViewModels
@using Melodee.Common.Data.Models
@using Melodee.Common.Data.Models.Extensions
@using Melodee.Common.Enums
@using Melodee.Common.Models.Extensions
@using NodaTime
@using Album = Melodee.Common.Data.Models.Album
@using Artist = Melodee.Common.Data.Models.Artist
@using Song = Melodee.Common.Data.Models.Song

@inject MainLayoutProxyService MainLayoutProxyService
@inject AlbumService AlbumService
@inject UserService UserService
@inject NotificationService NotificationService
@inject DialogService DialogService
@inject NavigationManager NavigationManager
@inject IHttpClientFactory HttpClientFactory
@inject IJSRuntime JsRuntime

<PageTitle>@_album.Name</PageTitle>

<RadzenStack>
    <RadzenRow AlignItems="AlignItems.Center" Class="rz-pb-5">
        <RadzenColumn Size="7" SizeMD="9">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem">
                @if (FromUrl != null)
                {
                    <RadzenButton
                        Icon="arrow_back"
                        ButtonStyle="ButtonStyle.Info"
                        Text="Back"
                        title="Go back"
                        Size="ButtonSize.Small"
                        Click="@(() => NavigationManager.NavigateTo(FromUrl, true))"/>
                }
                <RadzenBreadCrumb class="hide-below-480">
                    <RadzenBreadCrumbItem Path="/" Text="Dashboard"/>
                    <RadzenBreadCrumbItem Path="@($"/data/artist/{_album.Artist.ApiKey}")" Text="@_album.Artist.Name"/>
                    <RadzenBreadCrumbItem Path="@($"/data/albums?filterToArtistApiKey={_album.Artist.ApiKey}")"
                                          Text="Albums"/>
                    <RadzenBreadCrumbItem Icon="album" Text="@_album.Name"/>
                </RadzenBreadCrumb>
            </RadzenStack>
        </RadzenColumn>
        <RadzenColumn Size="5" SizeMD="3">
            <RadzenStack
                Orientation="Orientation.Horizontal"
                AlignItems="AlignItems.Center"
                JustifyContent="JustifyContent.End"
                Gap="0.5rem">
                <RadzenIcon Icon="@(_isPinned ? "keep" : "keep_off")" class="filled-icon"
                            IconColor="@(_isPinned ? "#99CCFF" : "#C9C9C7")"
                            @onclick="@TogglePinned" Style="cursor:pointer;"/>
                <RadzenIcon
                    Icon="play_arrow"
                    class="filled-icon"
                    IconColor="@Colors.Info"
                    title="Play"
                    @onclick="@(PlayAlbum)"
                    Style="cursor:pointer;font-size:14px;"/>
                <RadzenRating Value="@_userAlbum.Rating" Change="@UserRatingChange"/>
                <RadzenIcon Icon="thumb_down" class="filled-icon"
                            IconColor="@(_userAlbum.IsHated ? "#A2A415" : "#C9C9C7")"
                            @onclick="@IsHatedClicked" Style="cursor:pointer;"/>
                <RadzenIcon Icon="favorite" class="filled-icon"
                            IconColor="@(_userAlbum.IsStarred ? "#FA0202" : "#C9C9C7")"
                            @onclick="@IsStarredClicked" Style="cursor:pointer;"/>
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
</RadzenStack>

@if (_alertMessages.Any())
{
    foreach (var alert in _alertMessages)
    {
        <RadzenAlert AlertStyle="AlertStyle.Warning" Icon="warning" Size="AlertSize.Small" AllowClose="false"
                     Text="@alert"/>
    }
}

<RadzenStack>
    <RadzenMenu>
        <RadzenMenuItem Text="Delete" Visible="CurrentUser?.IsEditor() ?? false" Disabled="_album.IsLocked"
                        Click="DeleteButtonClick" title="Delete the album and all album files. BEWARE!"
                        IconColor="@Colors.Danger" Icon="delete"></RadzenMenuItem>
        <RadzenMenuItem Text="Edit" Visible="CurrentUser?.IsEditor() ?? false" Disabled="_album.IsLocked"
                        Click="EditButtonClick" title="Edit artist." Icon="edit"></RadzenMenuItem>
        @if (_album.IsLocked)
        {
            <RadzenMenuItem Text="Unlock" Visible="CurrentUser?.IsEditor() ?? false" Click="UnlockButtonClick"
                            title="Unlock album, will allow modifications." IconColor="@Colors.Warning"
                            Icon="lock_open"></RadzenMenuItem>
        }
        else
        {
            <RadzenMenuItem Text="Lock" Visible="CurrentUser?.IsEditor() ?? false" Disabled="_album.IsLocked"
                            Click="LockButtonClick" title="Lock album, will prevent modifications."
                            IconColor="@Colors.Warning" Icon="lock"></RadzenMenuItem>
        }
        <RadzenMenuItem Text="Rescan" Visible="CurrentUser?.IsEditor() ?? false" Disabled="_album.IsLocked"
                        Click="RescanButtonClick" title="Rebuild metadata and rescan album folder."
                        Icon="refresh"></RadzenMenuItem>
        <RadzenMenuItem Text="Set Cover Image" Visible="CurrentUser?.IsEditor() ?? false" Disabled="_album.IsLocked"
                        Click="SetCoverImageButtonClick" title="Set the album cover image."
                        Icon="image"></RadzenMenuItem>
        <RadzenMenuItem Text="Web Search" Icon="public">
            <RadzenMenuItem Text="Album" Click="@(() => DoWebSearch(1))"></RadzenMenuItem>
            <RadzenMenuItem Text="Album + Year" Click="@(() => DoWebSearch(2))"></RadzenMenuItem>
            <RadzenMenuItem Text="Album + Artist" Click="@(() => DoWebSearch(3))"></RadzenMenuItem>
            <RadzenMenuItem Text="Album + Year + Artist" Click="@(() => DoWebSearch(4))"></RadzenMenuItem>
        </RadzenMenuItem>
    </RadzenMenu>
    <RadzenText Text="@($"[{_album.ReleaseDate.Year}] {_album.Name}")" TextStyle="TextStyle.DisplayH6"
                TagName="TagName.H1" style="margin: 0"/>
</RadzenStack>
<RadzenStack class="rz-mt-3">
    <RadzenRow>
        <RadzenColumn Size="4" SizeMD="2">
            <RadzenStack>
                <RadzenCard class="hide-below-480">
                    <RadzenTree Change="@OnShowItemChange">
                        <RadzenTreeItem Text="Overview" Selected="true">
                            <Template>
                                <RadzenIcon Icon="overview"/>
                                @context.Text
                            </Template>
                        </RadzenTreeItem>
                        <RadzenTreeItem Text="Files">
                            <Template>
                                <RadzenIcon Icon="folder_data"/>
                                @($"{context.Text} ({_albumDirectoryFileCount})")
                            </Template>
                        </RadzenTreeItem>
                        <RadzenTreeItem Text="Images">
                            <Template>
                                <RadzenIcon Icon="image"/>
                                @($"{context.Text} ({_album.ImageCount ?? 0})")
                            </Template>
                        </RadzenTreeItem>
                    </RadzenTree>
                </RadzenCard>
                <RadzenPanel>
                    <HeaderTemplate>
                        <RadzenText TextStyle="TextStyle.H6"
                                    class="rz-display-flex rz-align-items-center rz-m-0">
                            <RadzenIcon Icon="info" class="rz-me-1"/>
                            Details
                        </RadzenText>
                    </HeaderTemplate>
                    <ChildContent>
                        <RadzenStack
                            Orientation="Orientation.Vertical"
                            JustifyContent="JustifyContent.Left"
                            class="rz-pt-1"
                            Gap="5px">
                            <CondensedStatistic Label="Status" StatisticStyle="@AlbumStatusStyle"
                                                Statistic="@_album.AlbumStatusValue.ToString()"/>
                            @if (CurrentUser?.IsAdmin() ?? false)
                            {
                                <CondensedStatistic Label="Directory" Statistic="@_album.Directory"/>
                            }
                            <CondensedStatistic Label="Album Type" Statistic="@_album.AlbumTypeValue.ToString()"/>
                            <CondensedStatistic Label="Genres" Statistic="@_album.Genres?.ToCsv()"/>
                            @foreach (var albumContributor in _album.Contributors.Where(x => x.ContributorTypeValue.RestrictToOnePerAlbum()).OrderBy(x => x.ContributorTypeValue.ToString()))
                            {
                                <CondensedStatistic Label="@albumContributor.ContributorTypeValue.ToString()"
                                                    Statistic="@albumContributor.ContributorName"/>
                            }
                            @if (_album.AlternateNames.Nullify() != null)
                            {
                                <CondensedStatistic Label="Alternate Names" Statistic="@_album.AlternateNames"/>
                            }
                        </RadzenStack>
                    </ChildContent>
                </RadzenPanel>
                <RadzenPanel Visible="@(_album.DoShowExternalLinks())">
                    <HeaderTemplate>
                        <RadzenText TextStyle="TextStyle.H6"
                                    class="rz-display-flex rz-align-items-center rz-m-0">
                            <RadzenIcon Icon="link" class="rz-me-1"/>
                            External Links
                        </RadzenText>
                    </HeaderTemplate>
                    <ChildContent>
                        <RadzenStack
                            Orientation="Orientation.Vertical"
                            JustifyContent="JustifyContent.Left"
                            class="rz-pt-1"
                            Gap="5px">
                            <ThirdPartyLink MelodeeDataType="MelodeeDataType.Album"
                                            ThirdPartyIdType="ThirdPartyIdType.Amg"
                                            Id="@_album.AmgId"/>
                            <ThirdPartyLink MelodeeDataType="MelodeeDataType.Album"
                                            ThirdPartyIdType="ThirdPartyIdType.Deezer"
                                            Id="@_album.DeezerId"/>
                            <ThirdPartyLink MelodeeDataType="MelodeeDataType.Album"
                                            ThirdPartyIdType="ThirdPartyIdType.Discogs"
                                            Id="@_album.DiscogsId"/>
                            <ThirdPartyLink MelodeeDataType="MelodeeDataType.Album"
                                            ThirdPartyIdType="ThirdPartyIdType.ITunes"
                                            Id="@_album.ItunesId"/>
                            <ThirdPartyLink MelodeeDataType="MelodeeDataType.Album"
                                            ThirdPartyIdType="ThirdPartyIdType.LastFm"
                                            Id="@_album.LastFmId"/>
                            <ThirdPartyLink MelodeeDataType="MelodeeDataType.Album"
                                            ThirdPartyIdType="ThirdPartyIdType.MusicBrainz"
                                            Id="@_album.MusicBrainzId"/>
                            <ThirdPartyLink MelodeeDataType="MelodeeDataType.Album"
                                            ThirdPartyIdType="ThirdPartyIdType.Spotify"
                                            Id="@_album.SpotifyId"/>
                            <ThirdPartyLink MelodeeDataType="MelodeeDataType.Album"
                                            ThirdPartyIdType="ThirdPartyIdType.WikiData"
                                            Id="@_album.WikiDataId"/>
                        </RadzenStack>
                    </ChildContent>
                </RadzenPanel>
                <RadzenPanel>
                    <HeaderTemplate>
                        <RadzenText TextStyle="TextStyle.H6"
                                    class="rz-display-flex rz-align-items-center rz-m-0">
                            <RadzenIcon Icon="monitoring" class="rz-me-1"/>
                            Statistics
                        </RadzenText>
                    </HeaderTemplate>
                    <ChildContent>
                        <RadzenStack
                            Orientation="Orientation.Vertical"
                            JustifyContent="JustifyContent.Left"
                            class="rz-pt-1"
                            Gap="5px">
                            <CondensedStatistic Label="Duration"
                                                Statistic="@(CurrentUser!.FormatDuration(_album.Duration.ToDuration()))"/>
                            <CondensedStatistic Label="Rating" Rating="@(_album.CalculatedRating)"/>
                            <CondensedStatistic Label="Song Count" Statistic="@(_album.SongCount.ToStringPadLeft(4))"/>
                            <CondensedStatistic Label="Played Total"
                                                Statistic="@(_album.PlayedCount.ToStringPadLeft(6))"/>
                            <CondensedStatistic Label="Last Played"
                                                Statistic="@(CurrentUser?.FormatInstant(_album.LastPlayedAt))"/>
                            <CondensedStatistic Label="Created"
                                                Statistic="@(CurrentUser?.FormatInstant(_album.CreatedAt))"/>
                            <CondensedStatistic Label="Last Updated"
                                                Statistic="@(CurrentUser?.FormatInstant(_album.LastUpdatedAt))"/>
                        </RadzenStack>
                    </ChildContent>
                </RadzenPanel>
            </RadzenStack>
        </RadzenColumn>
        <RadzenColumn Size="8" SizeMD="9">
            @if (_showItem == ShowItem.Overview)
            {
                <RadzenRow class="rz-pb-3">
                    <RadzenColumn Size="12" SizeMD="6" SizeXL="8">
                        <RadzenPanel>
                            <HeaderTemplate>
                                <RadzenText TextStyle="TextStyle.H6"
                                            class="rz-display-flex rz-align-items-center rz-m-0">
                                    <RadzenIcon Icon="music_note" class="rz-me-1"/>
                                    Songs
                                </RadzenText>
                            </HeaderTemplate>
                            <ChildContent>
                                <table class="rz-mt-1 hovertable">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col" style="width:90%;">Title</th>
                                        <th scope="col">Duration</th>
                                        <th scope="col" style="min-width:140px;">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var song in _album.Songs.OrderBy(x => x.SortOrder))
                                    {
                                        <tr class="highlight-on-hover">
                                            <td>@($"{song.SongNumber.ToStringPadLeft(3)}")</td>
                                            <td>@song.Title</td>
                                            <td>@CurrentUser!.FormatDuration(song.Duration.ToDuration())</td>
                                            <th scope="row" style="padding-top:2px;">
                                                <RadzenIcon
                                                    Icon="play_arrow"
                                                    class="filled-icon"
                                                    IconColor="@Colors.Info"
                                                    title="Play song"
                                                    @onclick="@(() => PlaySong(song))"
                                                    Style="cursor:pointer;font-size:14px;"/>
                                                <RadzenIcon
                                                    Icon="thumb_down"
                                                    class="filled-icon"
                                                    IconColor="@(_userSongs.FirstOrDefault(x => x.SongId == song.Id)?.IsHated ?? false ? "#A2A415" : "#C9C9C7")"
                                                    title="I hate this"
                                                    @onclick="@(() => IsSongHatedClicked(song))"
                                                    Style="cursor:pointer;font-size:14px;"/>
                                                <RadzenIcon
                                                    Icon="favorite"
                                                    class="filled-icon"
                                                    IconColor="@(_userSongs.FirstOrDefault(x => x.SongId == song.Id)?.IsStarred ?? false ? "#FA0202" : "#C9C9C7")"
                                                    title="I like this"
                                                    @onclick="@(() => IsSongStarredClicked(song))"
                                                    Style="cursor:pointer;font-size:14px;"/>
                                                <RadzenRating Style="font-size:14px;"
                                                              Value="@(_userSongs.FirstOrDefault(x => x.SongId == song.Id)?.Rating ?? 0)"
                                                              Change="@(args => UserSongRatingChange(song, args))"/>
                                            </th>
                                        </tr>
                                        @foreach (var songContributor in song.Contributors.GroupBy(x => x.ContributorTypeValue).OrderBy(x => x.Key))
                                        {
                                            <tr class="song-contributor-row">
                                                <td></td>
                                                <td>
                                                    <RadzenText style="color: var(--rz-text-color)"
                                                                TextStyle="TextStyle.Overline">@songContributor.Key.ToString()</RadzenText>
                                                    :
                                                    <RadzenText style="color: var(--rz-text-secondary-color)"
                                                                TextStyle="TextStyle.Subtitle2">@songContributor.Select(x => x.ContributorName).ToCsv(", ")</RadzenText>
                                                </td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        }
                                    }
                                    </tbody>
                                </table>
                            </ChildContent>
                        </RadzenPanel>
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="6" SizeXL="4">
                        <ArtistDataInfoCardComponent
                            Style="width: 600px;margin-bottom: 10px;"
                            Artist="@_album.Artist.ToArtistDataInfo()"/>
                        @if (_albumsImagesInByteBase64.Length < 2)
                        {
                            <RadzenImage
                                Path=@($"/images/{_album.ToApiKey()}/600")
                                Style="margin:auto;display: block;"
                                AlternateText="@_album.Name"/>
                        }
                        @if (_albumsImagesInByteBase64.Length > 1)
                        {
                            <RadzenCarousel
                                Auto="false"
                                Style="height: 400px; width: 400px;"
                                class="rz-mx-auto"
                                ButtonStyle="ButtonStyle.Base"
                                ButtonSize="ButtonSize.Small"
                                ButtonVariant="Variant.Text">
                                <Items>
                                    @foreach (var image in _albumsImagesInByteBase64)
                                    {
                                        <RadzenCarouselItem>
                                            <RadzenImage Path="@image" class="rz-h-100"/>
                                        </RadzenCarouselItem>
                                    }
                                </Items>
                            </RadzenCarousel>
                        }
                        <Markdown Content="@(_album.Description)"/>
                    </RadzenColumn>
                </RadzenRow>
            }
        </RadzenColumn>
    </RadzenRow>
</RadzenStack>

@code {

    [Parameter] public Guid ApiKey { get; set; }

    /// <summary>
    ///     When this is set, is it used if the album gets deleted to return the user back (like viewing albums for an artist
    ///     return to the artist detail)
    /// </summary>
    [Parameter]
    public string? FromUrl { get; set; }

    string AlbumStatusStyle { get; set; } = string.Empty;

    ShowItem _showItem = ShowItem.Overview;

    bool _isPinned;

    private enum ShowItem
    {
        Overview = 1,
        Contributors,
        Files,
        Images
    }

    UserAlbum _userAlbum = new()
    {
        UserId = 0,
        AlbumId = 0,
        CreatedAt = default
    };

    UserSong[] _userSongs = [];

    Album _album = new()
    {
        Artist = new Artist
        {
            Library = new Library
            {
                Name = string.Empty,
                Path = string.Empty,
                Type = 0,
                CreatedAt = default
            },
            Name = string.Empty,
            NameNormalized = string.Empty,
            Directory = string.Empty,
            LibraryId = 0,
            CreatedAt = default
        },
        Name = string.Empty,
        NameNormalized = string.Empty,
        Directory = string.Empty,
        CreatedAt = default
    };

    string[] _albumsImagesInByteBase64 = [];

    private long _albumDirectoryFileCount;

    private readonly List<string> _alertMessages = [];
    private FileSystemDirectoryInfo _albumDirectory = FileSystemDirectoryInfo.Blank();

    protected override async Task OnParametersSetAsync()
    {
        _alertMessages.Clear();
        if (ApiKey != Guid.Empty)
        {
            var albumResult = await AlbumService.GetByApiKeyAsync(ApiKey);
            if (albumResult is { IsSuccess: true, Data: not null })
            {
                _album = albumResult.Data;
                _albumDirectory = Path.Combine(_album.Artist.Library.Path, _album.Artist.Directory, _album.Directory).ToFileSystemDirectoryInfo();
                _albumDirectoryFileCount = _albumDirectory.FileCount();
                switch (_album.AlbumStatusValue)
                {
                    case AlbumStatus.New:
                        AlbumStatusStyle = "color: var(--rz-info)";
                        break;
                    case AlbumStatus.Invalid:
                        AlbumStatusStyle = "color: var(--rz-warning)";
                        break;
                    default:
                        AlbumStatusStyle = "color: var(--rz-success)";
                        break;
                }

                _userAlbum = await UserService.UserAlbumAsync(CurrentUsersId, _album.ApiKey) ?? new UserAlbum
                {
                    UserId = 0,
                    AlbumId = 0,
                    CreatedAt = default
                };
                _userSongs = await UserService.UserSongsForAlbumAsync(CurrentUsersId, _album.ApiKey) ?? [];
                if (!_albumDirectory.Exists())
                {
                    _alertMessages.Add($"Album directory [{_albumDirectory.FullName()}] is not found.");
                }

                if (_album.ImageCount > 1)
                {
                    var albumsImagesInByteBase64 = new List<(int, string)>();
                    await Parallel.ForEachAsync(_albumDirectory.AllFileImageTypeFileInfos()
                        .OrderBy(x => x.Name)
                        .Select((x, i) => new
                        {
                            index = i,
                            file = x.ToFileSystemInfo()
                        }), CancellationToken.None, async (albumImage, token) =>
                    {
                        var imageBase64 = await albumImage.file.ImageBase64(_albumDirectory, token);
                        if (imageBase64 != null)
                        {
                            albumsImagesInByteBase64.Add((albumImage.index, imageBase64));
                        }
                    });
                    _albumsImagesInByteBase64 = albumsImagesInByteBase64.OrderBy(x => x.Item1).Select(x => x.Item2).ToArray();
                }

                _isPinned = await UserService.IsPinned(CurrentUsersId, UserPinType.Album, _album.Id);
            }
        }
    }

    private void OnShowItemChange(TreeEventArgs arg)
    {
        switch (arg.Text)
        {
            default:
                _showItem = ShowItem.Overview;
                break;
        }
    }

    private void EditButtonClick()
    {
        NavigationManager.NavigateTo($"/data/album/{_album.ApiKey}/edit", true);
    }

    private async Task UnlockButtonClick()
    {
        var result = await AlbumService.LockUnlockAlbumAsync(_album.Id, false);
        NotificationService.Notify(NotificationMessageForResult(result, "unlocking Album", ToastTime));
        _album.IsLocked = false;
    }

    private async Task LockButtonClick()
    {
        var result = await AlbumService.LockUnlockAlbumAsync(_album.Id, true);
        NotificationService.Notify(NotificationMessageForResult(result, "locking Album", ToastTime));
        _album.IsLocked = true;
    }

    private async Task DeleteButtonClick()
    {
        var confirm = await DialogService.Confirm("Are you sure?", "Delete confirmation", new ConfirmOptions { OkButtonText = "Yes", CancelButtonText = "No" });
        if (confirm ?? false)
        {
            var deleteResult = await AlbumService.DeleteAsync([_album.Id]);
            if (deleteResult.IsSuccess)
            {
                NavigationManager.NavigateTo(FromUrl ?? "/data/albums", true);
            }

            NotificationService.Notify(NotificationMessageForResult(deleteResult, "deleting album", ToastTime));
        }
    }

    private async Task IsHatedClicked()
    {
        _userAlbum.IsHated = !_userAlbum.IsHated;
        var result = await UserService.ToggleAlbumHatedAsync(CurrentUsersId, _album.ApiKey, _userAlbum.IsHated);
        NotificationService.Notify(NotificationMessageForResult(result, "Toggling Album Hatred", ToastTime));
    }

    private async Task IsStarredClicked()
    {
        _userAlbum.IsStarred = !_userAlbum.IsStarred;
        var result = await UserService.ToggleAlbumStarAsync(CurrentUsersId, _album.ApiKey, _userAlbum.IsStarred);
        NotificationService.Notify(NotificationMessageForResult(result, "Toggling Album Favorite", ToastTime));
    }


    private async Task IsSongStarredClicked(Song song)
    {
        var userSong = _userSongs.FirstOrDefault(x => x.SongId == song.Id);
        if (userSong == null)
        {
            userSong = new UserSong
            {
                CreatedAt = Instant.FromDateTimeUtc(DateTime.UtcNow),
                UserId = CurrentUsersId,
                SongId = song.Id,
                IsStarred = true
            };
            var allUserSongs = _userSongs.ToList();
            allUserSongs.Add(userSong);
            _userSongs = allUserSongs.ToArray();
        }
        else
        {
            userSong.IsStarred = !userSong.IsStarred;
        }

        if (userSong.IsStarred)
        {
            userSong.IsHated = false;
        }

        var result = await UserService.ToggleSongStarAsync(CurrentUsersId, song.ApiKey, userSong.IsStarred);
        NotificationService.Notify(NotificationMessageForResult(result, "Toggling Song Favorite", ToastTime));
    }

    private async Task IsSongHatedClicked(Song song)
    {
        var userSong = _userSongs.FirstOrDefault(x => x.SongId == song.Id);
        if (userSong == null)
        {
            userSong = new UserSong
            {
                CreatedAt = Instant.FromDateTimeUtc(DateTime.UtcNow),
                UserId = CurrentUsersId,
                SongId = song.Id,
                IsHated = true
            };
            var allUserSongs = _userSongs.ToList();
            allUserSongs.Add(userSong);
            _userSongs = allUserSongs.ToArray();
        }
        else
        {
            userSong.IsHated = !userSong.IsHated;
        }

        if (userSong.IsHated)
        {
            userSong.IsStarred = false;
        }

        var result = await UserService.ToggleSongHatedAsync(CurrentUsersId, song.ApiKey, userSong.IsStarred);
        NotificationService.Notify(NotificationMessageForResult(result, "Toggling Song Hatred", ToastTime));
    }

    private async Task DoWebSearch(int searchType)
    {
        var searchTerms = new List<object>();
        var an = _album.Artist.Name;
        var title = _album.Name;
        var year = _album.ReleaseDate.Year.ToString();
        searchTerms.Clear();
        switch (searchType)
        {
            case 4:
                searchTerms.Add(title);
                searchTerms.Add(year);
                searchTerms.Add(an);
                break;

            case 3:
                searchTerms.Add(title);
                searchTerms.Add(an);
                break;

            case 2:
                searchTerms.Clear();
                searchTerms.Add(title);
                searchTerms.Add(year);
                break;

            case 1:
                searchTerms.Clear();
                searchTerms.Add(title);
                break;
        }

        await JsRuntime.InvokeVoidAsync("openInNewTab", Configuration.GenerateWebSearchUrl(searchTerms.ToArray()));
    }

    private SearchValue[] SearchValues =>
    [
        new()
        {
            Key = "Artist",
            Value = _album.Artist.Name,
            SortOrder = 1
        },
        new()
        {
            Key = "Year",
            Value = _album.ReleaseDate.Year.ToString(),
            SortOrder = 1
        },
        new()
        {
            Key = "Title",
            Value = _album.Name,
            SortOrder = 1
        }
    ];

    private async Task AlbumSearchImageCallback(ImageSearchResult? selectedImageSearchResult)
    {
        MainLayoutProxyService.ToggleSpinnerVisible();

        DialogService.Close();

        try
        {
            if (selectedImageSearchResult != null)
            {
                var httpClient = HttpClientFactory.CreateClient();
                var albumPath = Path.Combine(_album.Artist.Library.Path, _album.Artist.Directory, _album.Directory).ToFileSystemDirectoryInfo();
                var doDeleteAllOtherAlbumImages = selectedImageSearchResult.DoDeleteAllOtherArtistImages;
                if (doDeleteAllOtherAlbumImages)
                {
                    albumPath.DeleteAllFilesForExtension("*.jpg");
                }

                var newAlbumCoverFilename = Path.Combine(albumPath.FullName(), $"i-01-{Album.FrontImageType}.jpg");
                if (File.Exists(newAlbumCoverFilename))
                {
                    File.Delete(newAlbumCoverFilename);
                }

                if (selectedImageSearchResult.ImageBytes != null)
                {
                    await File.WriteAllBytesAsync(newAlbumCoverFilename, selectedImageSearchResult.ImageBytes);
                }
                else
                {
                    await httpClient.DownloadFileAsync(selectedImageSearchResult.Url, newAlbumCoverFilename);
                }

                var result = await AlbumService.UpdateAsync(_album);
                if (result.Data)
                {
                    NotificationService.Notify(NotificationMessageForResult(result, "set cover image", ToastTime));
                }

                NavigationManager.Refresh(true);
            }
        }
        finally
        {
            MainLayoutProxyService.ToggleSpinnerVisible();
        }
    }


    private async Task SetCoverImageButtonClick()
    {
        await DialogService.OpenAsync("Image Search", ds =>
            @<ImageSearchUpload
                SearchType="ImageSearchType.Album"
                OnUpdateCallback="AlbumSearchImageCallback"
                SearchValues="SearchValues"/>);
    }

    private async Task RescanButtonClick()
    {
        var confirm = await DialogService.Confirm("Are you sure?", "Rescan confirmation", new ConfirmOptions { OkButtonText = "Yes", CancelButtonText = "No" });
        if (confirm ?? false)
        {
            var rescanresult = await AlbumService.RescanAsync([_album.Id]);
            NotificationService.Notify(NotificationMessageForResult(rescanresult, "submitting album rescan job", ToastTime));
        }
    }

    private async Task TogglePinned()
    {
        _isPinned = !_isPinned;
        var result = await UserService.TogglePinnedAsync(CurrentUsersId, UserPinType.Album, _album.Id);
        NotificationService.Notify(NotificationMessageForResult(result, "Toggling Pin", ToastTime));
    }

    private async Task UserRatingChange(int arg)
    {
        _userAlbum.Rating = arg;
        var result = await UserService.SetAlbumRatingAsync(CurrentUsersId, _album.Id, arg);
        NotificationService.Notify(NotificationMessageForResult(result, "Set album rating", ToastTime));
        var albumResult = await AlbumService.GetByApiKeyAsync(ApiKey);
        _album.CalculatedRating = albumResult.Data!.CalculatedRating;
    }

    private async Task UserSongRatingChange(Song song, int arg)
    {
        var userSong = _userSongs.FirstOrDefault(x => x.SongId == song.Id);
        if (userSong == null)
        {
            userSong = new UserSong
            {
                CreatedAt = Instant.FromDateTimeUtc(DateTime.UtcNow),
                UserId = CurrentUsersId,
                SongId = song.Id,
                Rating = arg
            };
            var allUserSongs = _userSongs.ToList();
            allUserSongs.Add(userSong);
            _userSongs = allUserSongs.ToArray();
        }
        else
        {
            userSong.Rating = arg;
        }

        var result = await UserService.SetSongRatingAsync(CurrentUsersId, song.Id, arg);
        NotificationService.Notify(NotificationMessageForResult(result, "Set song rating", ToastTime));
    }

    private Task PlaySong(Song song)
    {
        return PlayAction(song.Title, [song.ToSongDataInfo()]);
    }

    private Task PlayAlbum()
    {
        return PlayAction(_album.Name, _album.Songs.Select(x => x.ToSongDataInfo()).ToList());
    }

}
