@using Melodee.Common.Models.Configuration
@inherits LayoutComponentBase

@inject Configuration Configuration

<CascadingValue Value="this">

    <main>
        <nav class="navbar navbar-expand-lg navbar-light border mb-2">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Edit
                            </a>
                            <ul class="dropdown-menu">
                                <li @onclick="DeleteSelected"><a class="dropdown-item" href="#">Delete Selected</a></li>
                                <li @onclick="MoveSelectedToLibrary"><a class="dropdown-item" href="#">Move Selected to Library</a></li>
                                <li @onclick="SetSelectedStatusReviewed"><a class="dropdown-item" href="#">Set Selected Status as Reviewed</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li @onclick="((e) => SelectReleases(true))"><a class="dropdown-item" href="#">Select All</a></li>
                                <li @onclick="((e) => SelectReleases(false))"><a class="dropdown-item" href="#">Select None</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/settings">Settings...</a></li>

                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                View
                            </a>
                            <ul class="dropdown-menu">
                                <li @onclick="((e) => FilterReleases(ReleaseResultFilter.All))"><a class="dropdown-item @(Filter == ReleaseResultFilter.All ? "active" : string.Empty)" href="#">All</a></li>
                                <li @onclick="((e) => FilterReleases(ReleaseResultFilter.Duplicates))"><a class="dropdown-item @(Filter == ReleaseResultFilter.Duplicates ? "active" : string.Empty)" href="#">Duplicates</a></li>
                                <li @onclick="((e) => FilterReleases(ReleaseResultFilter.Incomplete))"><a class="dropdown-item @(Filter == ReleaseResultFilter.Incomplete ? "active" : string.Empty)" href="#">Incomplete</a></li>
                                <li @onclick="((e) => FilterReleases(ReleaseResultFilter.LessThanConfiguredTracks))"><a class="dropdown-item @(Filter == ReleaseResultFilter.LessThanConfiguredTracks ? "active" : string.Empty)" href="#">Less than @Configuration.FilterLessThanTrackCount Tracks</a></li>
                                <li @onclick="((e) => FilterReleases(ReleaseResultFilter.NeedsAttention))"><a class="dropdown-item @(Filter == ReleaseResultFilter.NeedsAttention ? "active" : string.Empty)" href="#">Needs Attention</a></li>
                                <li @onclick="((e) => FilterReleases(ReleaseResultFilter.New))"><a class="dropdown-item @(Filter == ReleaseResultFilter.New ? "active" : string.Empty)" href="#">New</a></li>
                                <li @onclick="((e) => FilterReleases(ReleaseResultFilter.ReadyToMove))"><a class="dropdown-item @(Filter == ReleaseResultFilter.ReadyToMove ? "active" : string.Empty)" href="#">Ready to Move</a></li>
                                <li @onclick="((e) => FilterReleases(ReleaseResultFilter.Selected))"><a class="dropdown-item @(Filter == ReleaseResultFilter.Selected ? "active" : string.Empty)" href="#">Selected</a></li>
                                <li @onclick="((e) => FilterReleases(ReleaseResultFilter.LessThanConfiguredDuration))"><a class="dropdown-item @(Filter == ReleaseResultFilter.LessThanConfiguredDuration ? "active" : string.Empty)" href="#">Under @Configuration.FilterLessThanConfiguredTime.TotalMinutes Minutes</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Tools
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Delete all Images</a></li>
                                <li><a class="dropdown-item" href="#">Promote Track Artist</a></li>
                                <li><a class="dropdown-item" href="#">Renumber Tracks</a></li>
                                <li><a class="dropdown-item" href="#">Remove Artist from Track Artists</a></li>
                                <li><a class="dropdown-item" href="#">Remove provided text from Track Title</a></li>
                                <li><a class="dropdown-item" href="#">Remove all Track Artists</a></li>
                                <li><a class="dropdown-item" href="#">Replace all Track Artist separators</a></li>
                                <li><a class="dropdown-item" href="#">Set Year to Current</a></li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        Trim Track Titles &raquo;
                                    </a>
                                    <ul class="dropdown-menu dropdown-submenu">
                                        <li>
                                            <a class="dropdown-item" href="#">1</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">2</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">3</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">4</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">5</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">10</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Help
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">About</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input
                            @onkeyup="KeyUpCallback"
                            @bind:event="oninput"
                            @bind="SearchText"
                            class="form-control me-2"
                            type="text"
                            placeholder="Search"
                            aria-label="Search">
                    </form>
                </div>
            </div>
        </nav>

        <div class="content px-4">
            @Body
        </div>
    </main>

</CascadingValue>
@code {

    bool _showConfigurationModel;

    public string? SearchText { get; set; }

    public ReleaseResultFilter? Filter { get; set; } = ReleaseResultFilter.All;

    public event EventHandler? SearchChanged;

    public event EventHandler<bool>? SelectReleasesChanged;

    public event EventHandler? MoveSelectedToLibraryChanged;

    public event EventHandler? DeleteSelectedChanged;

    public event EventHandler? SetSelectedStatusReviewedChanged;

    private void KeyUpCallback(KeyboardEventArgs obj)
    {
        SearchChanged?.Invoke(this, obj);
    }

    private void FilterReleases(ReleaseResultFilter i)
    {
        Filter = i;
        SearchChanged?.Invoke(this, EventArgs.Empty);
    }

    private void SelectReleases(bool selectAll) => SelectReleasesChanged?.Invoke(this, selectAll);

    private void ShowConfigurationModel()
    {
        _showConfigurationModel = true;
        StateHasChanged();
    }

    private void MoveSelectedToLibrary()
    {
        MoveSelectedToLibraryChanged?.Invoke(this, EventArgs.Empty);
    }

    private void DeleteSelected()
    {
        DeleteSelectedChanged?.Invoke(this, EventArgs.Empty);
    }

    private void SetSelectedStatusReviewed()
    {
        SetSelectedStatusReviewedChanged?.Invoke(this, EventArgs.Empty);
    }

}
