@page "/"
@using System.Globalization
@using System.Reflection
@using System.Text.Json
@using System.Text.Json.Serialization
@using Mapster
@using Melodee.Common.Extensions
@using Melodee.Common.Models
@using Melodee.Common.Models.Configuration
@using Melodee.Common.Models.Extensions
@using Melodee.Common.Utility
@using Melodee.Models
@using Melodee.Models.Enums
@using Melodee.Plugins.Discovery.Releases
@using Melodee.Plugins.MetaData.Track
@using Serilog
@using Release = Melodee.Models.Release

@inject Configuration Configuration
@inject IReleasesDiscoverer ReleasesDiscoverer
@inject ITrackPlugin TrackPlugin

<div class="container-fluid" @onkeyup="ReleaseEditingKeyPress">
    <div class="row border-bottom border-secondary mb-2">
        <div class="col-7">
            <nav aria-label="...">
                <ul class="pagination pagination-sm">
                    <li class="page-item @(_page == 1 ? "disabled" : string.Empty)" @onclick="LastLastPage">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="@(_page == 0)">Previous</a>
                    </li>
                    <li class="page-item">
                        <span class="badge bg-primary py-2 nerd-text">@_page of @_totalPages</span>
                    </li>
                    <li class="page-item @(_page == _totalPages ? "disabled" : string.Empty)" @onclick="LoadNextPage">
                        <a class="page-link" href="#" aria-disabled="@(_page == _totalPages)">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col text-end fs-6 nerd-text">
            Total: <span class="badge bg-primary"> @((_loading ? 0 : _totalReleaseCount).ToStringPadLeft(6))</span>
            Selected: <span class="badge bg-primary">@_selectedReleaseIds.Count().ToStringPadLeft(3)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="overflow-auto" style="max-height: 800px;">
                @if (_loading)
                {
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                }
                else if (_releases.Count == 0)
                {
                    <div class="d-flex justify-content-center">
                        <p>No Releases found.</p>
                    </div>
                }
                else
                {
                    @foreach (var release in _releases)
                    {
                        <div @onclick="Callback">
                            @{
                                async Task Callback()
                                {
                                    if (!_selectedReleaseIds.Contains(release.UniqueId))
                                    {
                                        _selectedReleaseIds.Add(release.UniqueId);
                                    }
                                    else
                                    {
                                        _selectedReleaseIds.Remove(release.UniqueId);
                                    }

                                    await GetReleaseDetailAsync(release.UniqueId);
                                    StateHasChanged();
                                }
                            }
                            <ReleaseCard
                                Release="release"
                                IsCurrent="release.UniqueId == _selectedRelease?.UniqueId"
                                IsSelected="_selectedReleaseIds.Contains(release.UniqueId)"
                                DefaultReleaseCover="_defaultReleaseCover"/>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="col">
            @if (_loading)
            {
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            }
            else if (_selectedRelease == null)
            {
                <div class="d-flex justify-content-center">
                    <p>Nothing to see here.</p>
                </div>
            }
            else
            {
                <div>
                    <h6 class="float-start me-1">
                        @if (_selectedRelease.IsValid)
                        {
                            <span class="badge bg-info">Valid</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">Invalid</span>
                        }
                    </h6>
                    <h6 class="float-start me-1">
                        @if (_selectedRelease.IsVariousArtistTypeRelease)
                        {
                            <span class="badge bg-warning">Various Artists</span>
                        }
                        else if (!string.IsNullOrWhiteSpace(_selectedRelease.Genre))
                        {
                            <span class="badge bg-info">@_selectedRelease.Genre</span>
                        }
                    </h6>
                    <h6>
                        <span class="badge bg-info nerd-text">@_selectedRelease.CreatedFormattedDate</span>
                    </h6>
                </div>
                <div class="border-bottom border-secondary mb-2">
                    <div class="mb-3">
                        <label for="releaseStatus" class="form-label">Status</label>
                        <select class="form-select form-select-sm" @bind="_selectedRelease.ReleaseStatus" aria-label="Status" id="releaseStatus">
                            @foreach (var releaseStatus in _releaseStatuses)
                            {
                                <option value="@releaseStatus">@releaseStatus</option>
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="artist" class="form-label">Artist</label>
                        <input type="text" @bind:event="oninput" @bind="_selectedRelease.Artist" class="form-control" id="artist">
                    </div>
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" @bind:event="oninput" @bind="_selectedRelease.Title" class="form-control" id="title">
                    </div>
                    <div class="mb-3">
                        <label for="year" class="form-label">Year</label>
                        <input type="text" @bind:event="oninput" @bind="_selectedRelease.Year" class="form-control" id="year">
                    </div>
                </div>
                <div class="track-edit-container container overflow-auto" style="max-height: 500px; margin: 0; padding: 0 3px 0 0;">
                    @foreach (var media in _selectedRelease.MediaNumbers)
                    {
                        @foreach (var track in _selectedRelease.Tracks.Where(x => x.MediaNumber == media).OrderBy(x => x.Number))
                        {
                            <div class="@(track.IsValid ? "track-valid" : "track-invalid")">
                                <div class="row mb-2 ">
                                    <div class="col">
                                        <input type="number" @bind:event="oninput" @bind="track.MediaNumber" class="form-control" placeholder="Media" aria-label="Media">
                                    </div>
                                    <div class="col">
                                        <input type="number" @bind:event="oninput" @bind="track.Number" class="form-control" placeholder="Number" aria-label="Number">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <input type="text" @bind:event="oninput" @bind="track.TrackArtist" class="form-control" placeholder="Track Artist" aria-label="Track Artist">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <input type="text" @bind:event="oninput" @bind="track.Title" class="form-control" placeholder="Title" aria-label="Title">
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            }
        </div>
    </div>
</div>

@code {

    byte[] _defaultReleaseCover = [];
    int _totalReleaseCount;
    int _page = 1;
    short _take = 10;
    int _totalPages = 1;
    bool _loading = true;
    List<Release> _releases = [];
    ReleaseEditModel? _selectedRelease;
    List<long> _selectedReleaseIds = [];
    readonly string[] _releaseStatuses = Enum.GetValues(typeof(ReleaseStatus)).Cast<ReleaseStatus>().Select(x => x.ToString()).ToArray();

    [CascadingParameter] public MainLayout Layout { get; set; } = null!;

    private async Task GetReleaseDetailAsync(long uniqueId)
    {
        _loading = true;

        var detail = await ReleasesDiscoverer.ReleaseByUniqueIdAsync(Configuration.StagingDirectoryInfo, uniqueId);
        _selectedRelease = new ReleaseEditModel
        {
            UniqueId = detail.UniqueId,
            Artist = detail.Artist(),
            CreatedFormattedDate = detail.Created.ToString("yyyyMMdd HH:m:s"),
            Genre = detail.Genre(),
            Title = detail.ReleaseTitle(),
            IsValid = detail.IsValid(Configuration),
            IsVariousArtistTypeRelease = detail.IsVariousArtistTypeRelease(),
            ReleaseStatus = detail.Status.ToString(),
            Year = detail.ReleaseYear()?.ToString() ?? string.Empty,
            Tracks = detail.Tracks?.Select(x => new TrackEditModel
            {
                IsValid = x.IsValid(Configuration),
                Number = x.TrackNumber(),
                Title = x.Title() ?? string.Empty,
                TrackArtist = x.TrackArtist(),
                MediaNumber = x.MediaNumber()
            }).ToList() ?? []
        };
        _loading = false;
    }

    protected override async Task OnInitializedAsync()
    {
        _take = Configuration.DefaultPageSize;

        // ensure default release cover bytes are loaded
        if (_defaultReleaseCover.Length == 0)
        {
            var appDir = new DirectoryInfo(Assembly.GetEntryAssembly()!.Location);
            _defaultReleaseCover = await File.ReadAllBytesAsync(Path.Combine(appDir.Parent!.FullName, "wwwroot", "images", "release.jpg"));
        }

        await RefreshReleasesAsync();

        Layout.SearchChanged += (sender, args) =>
        {
            var ml = sender as MainLayout;
            RefreshReleasesAsync(args.Item2, args.Item1).ConfigureAwait(true).GetAwaiter();
        };
        Layout.MenuItemClicked += async (sender, args) =>
        {
            switch (args.Item1)
            {
                case MenuItem.DeleteSelected:
                    await DeleteSelectedAsync();
                    break;

                case MenuItem.MoveSelectedToLibrary:
                    await MoveSelectedToLibraryAsync();
                    break;

                case MenuItem.Refresh:
                    await RefreshReleasesAsync();
                    break;

                case MenuItem.Save:
                    await SaveSelectedReleaseAsync();
                    break;

                case MenuItem.SelectAllReleases:
                    if (args.option as bool? ?? false)
                    {
                        _selectedReleaseIds = _releases.Select(x => x.UniqueId).ToList();
                    }
                    else
                    {
                        _selectedReleaseIds.Clear();
                    }
                    break;

                case MenuItem.SetSelectedStatusReviewed:
                    await SetSelectedReleaseStatusToReviewed();
                    break;

                case MenuItem.ViewFilterClicked:
                    await RefreshReleasesAsync(null, args.option as ReleaseResultFilter?);
                    break;

                case MenuItem.Tool:
                    switch (args.option as ToolMenuItem? ?? ToolMenuItem.NotSet)
                    {
                        case ToolMenuItem.DeleteAllImages:
                            await DeleteAllImages();
                            break;
                        case ToolMenuItem.PromoteTrackArtist:
                            break;
                        case ToolMenuItem.RemoveAllTrackArtists:
                            break;
                        case ToolMenuItem.RemoveArtistFromTrackArtists:
                            break;
                        case ToolMenuItem.RemoveProvidedTextFromTrackTitle:
                            break;
                        case ToolMenuItem.RenumberTracks:
                            break;
                        case ToolMenuItem.ReplaceAllTrackArtistSeparators:
                            break;
                        case ToolMenuItem.SetYearToCurrent:
                            break;
                    }
                    break;
            }
        };
    }

    private readonly JsonSerializerOptions _jsonSerializerOptions = new()
    {
        DefaultIgnoreCondition = JsonIgnoreCondition.WhenWritingNull
    };

    private async Task DeleteAllImages()
    {
        if (_selectedReleaseIds.Count == 0)
        {
            return;
        }

        _loading = true;
        foreach (var selectedReleaseId in _selectedReleaseIds)
        {
            var release = await ReleasesDiscoverer.ReleaseByUniqueIdAsync(Configuration.StagingDirectoryInfo, selectedReleaseId);
            var releaseStagingDirInfo = new DirectoryInfo(Path.Combine(Configuration.StagingDirectory, release.ToDirectoryName()));
            release.Images = [];
            var serialized = JsonSerializer.Serialize(release, _jsonSerializerOptions);
            await File.WriteAllTextAsync(Path.Combine(releaseStagingDirInfo.FullName, release.ToMelodeeJsonName(true)), serialized);
            foreach (var imageFile in ImageHelper.ImageFilesInDirectory(releaseStagingDirInfo.FullName, SearchOption.AllDirectories))
            {
                File.Delete(imageFile);
            }

            foreach (var track in release.Tracks!)
            {
                track.Images = [];
                await TrackPlugin.UpdateTrackAsync(release.Directory!, track);
            }
        }

        _selectedReleaseIds.Clear();
        ReleasesDiscoverer.ClearCache();
        await RefreshReleasesAsync();
    }

    private async Task SetSelectedReleaseStatusToReviewed()
    {
        if (_selectedReleaseIds.Count == 0)
        {
            return;
        }

        _loading = true;
        foreach (var selectedReleaseId in _selectedReleaseIds)
        {
            var release = await ReleasesDiscoverer.ReleaseByUniqueIdAsync(Configuration.StagingDirectoryInfo, selectedReleaseId);
            var releaseStagingDirInfo = new DirectoryInfo(Path.Combine(Configuration.StagingDirectory, release.ToDirectoryName()));
            release.Status = ReleaseStatus.Reviewed;
            var serialized = JsonSerializer.Serialize(release, _jsonSerializerOptions);
            await File.WriteAllTextAsync(Path.Combine(releaseStagingDirInfo.FullName, release.ToMelodeeJsonName(true)), serialized);
        }

        _selectedReleaseIds.Clear();
        ReleasesDiscoverer.ClearCache();
        await RefreshReleasesAsync();
    }

    private async Task MoveSelectedToLibraryAsync()
    {
        if (_selectedReleaseIds.Count == 0)
        {
            return;
        }

        try
        {
            _loading = true;
            foreach (var selectedReleaseId in _selectedReleaseIds)
            {
                var release = await ReleasesDiscoverer.ReleaseByUniqueIdAsync(Configuration.StagingDirectoryInfo, selectedReleaseId);
                var releaseStagingDirInfo = new DirectoryInfo(Path.Combine(Configuration.StagingDirectory, release.ToDirectoryName()));
                var releaseLibraryDirInfo = new DirectoryInfo(Path.Combine(Configuration.LibraryDirectory, release.ToDirectoryName()));
               MoveDirectory(releaseStagingDirInfo.FullName, releaseLibraryDirInfo.FullName, Configuration.MoveMelodeeJsonDataFileToLibrary ? null : Common.Models.Release.JsonFileName);
            }
            _selectedReleaseIds.Clear();
            ReleasesDiscoverer.ClearCache();
            await RefreshReleasesAsync();
        }
        catch (Exception ex)
        {
            Log.Error(ex, "Moving Selected Releases To Library");
        }
        finally
        {
            _loading = false;
        }

    }

    private static void MoveDirectory(string toMove, string destination, string? dontMoveFileName)
    {
        if (!Directory.Exists(destination))
        {
            Directory.CreateDirectory(destination);
        }
        var files = Directory.GetFiles(toMove);
        var directories = Directory.GetDirectories(toMove);
        foreach (var file in files)
        {
            if (!string.Equals(Path.GetFileName(file), dontMoveFileName, StringComparison.OrdinalIgnoreCase))
            {
                File.Copy(file, Path.Combine(destination, Path.GetFileName(file)), true);
            }
        }
        foreach(var d in directories)
        {
            MoveDirectory(Path.Combine(toMove, Path.GetFileName(d)), Path.Combine(destination, Path.GetFileName(d)), dontMoveFileName);
        }
        Directory.Delete(toMove, true);
    }

    private async Task DeleteSelectedAsync()
    {
        if (_selectedReleaseIds.Count == 0)
        {
            return;
        }

        _loading = true;
        foreach (var selectedReleaseId in _selectedReleaseIds)
        {
            var release = await ReleasesDiscoverer.ReleaseByUniqueIdAsync(Configuration.StagingDirectoryInfo, selectedReleaseId);
            var releaseStagingDirInfo = new DirectoryInfo(Path.Combine(Configuration.StagingDirectory, release.ToDirectoryName()));
            try
            {
                Directory.Delete(releaseStagingDirInfo.FullName, true);
            }
            catch (Exception e)
            {
                Log.Error(e, "Error deleting [{ReleaseId}]", selectedReleaseId);
            }
        }

        _selectedReleaseIds.Clear();
        ReleasesDiscoverer.ClearCache();
        await RefreshReleasesAsync();
    }

    private async Task SaveSelectedReleaseAsync()
    {
        _loading = true;
        var release = await ReleasesDiscoverer.ReleaseByUniqueIdAsync(Configuration.StagingDirectoryInfo, _selectedRelease!.UniqueId);
        var releaseDirectoryName = release.ToDirectoryName();
        var releaseStagingDirInfo = new DirectoryInfo(Path.Combine(Configuration.StagingDirectory, releaseDirectoryName));

        release.SetTagValue(MetaTagIdentifier.AlbumArtist, _selectedRelease.Artist);
        release.SetTagValue(MetaTagIdentifier.OrigReleaseYear, _selectedRelease.Year);
        release.SetTagValue(MetaTagIdentifier.Album, _selectedRelease.Title);
        foreach (var track in _selectedRelease.Tracks)
        {
            release.SetTrackTagValue(track.TrackId, MetaTagIdentifier.Artist, track.TrackArtist);
            release.SetTrackTagValue(track.TrackId, MetaTagIdentifier.DiscNumber, track.MediaNumber);
            release.SetTrackTagValue(track.TrackId, MetaTagIdentifier.Title, track.Title);
            release.SetTrackTagValue(track.TrackId, MetaTagIdentifier.TrackNumber, track.Number);
        }

        release.Status = ReleaseStatus.Reviewed;
        var serialized = JsonSerializer.Serialize(release, _jsonSerializerOptions);
        var newReleaseDirectoryName = release.ToDirectoryName();
        if (newReleaseDirectoryName != releaseDirectoryName)
        {
            // Release was renamed, rename Release folder
            var newReleaseStagingDirInfo = new DirectoryInfo(Path.Combine(Configuration.StagingDirectory, newReleaseDirectoryName));
            Directory.Move(releaseStagingDirInfo.FullName, newReleaseStagingDirInfo.FullName);
            releaseStagingDirInfo = newReleaseStagingDirInfo;
        }

        await File.WriteAllTextAsync(Path.Combine(releaseStagingDirInfo.FullName, release.ToMelodeeJsonName(true)), serialized);
        foreach (var track in release.Tracks!)
        {
            await TrackPlugin.UpdateTrackAsync(release.Directory!, track);
        }

        ReleasesDiscoverer.ClearCache();
        await RefreshReleasesAsync();
    }

    private async Task RefreshReleasesAsync(string? search = null, ReleaseResultFilter? filter = null)
    {
        _loading = true;
        StateHasChanged();
        var releasesForStagingFolder = await ReleasesDiscoverer.ReleasesGridsForDirectoryAsync(
            Configuration.StagingDirectoryInfo, new PagedRequest
            {
                Page = _page,
                Take = _take,
                Search = search,
                Filter = filter,
                SelectedReleaseIds = _selectedReleaseIds.ToArray()
            });
        _releases = releasesForStagingFolder.Data.AsQueryable().ProjectToType<Release>().ToList();
        _totalReleaseCount = releasesForStagingFolder.TotalCount;
        _totalPages = releasesForStagingFolder.TotalPages;
        if (_releases.Count > 0)
        {
            await GetReleaseDetailAsync(_releases.First().UniqueId);
        }
        else
        {
            _selectedRelease = null;
        }

        _loading = false;
        StateHasChanged();
    }

    private async Task LastLastPage()
    {
        _page -= 1;
        if (_page > 0)
        {
            await RefreshReleasesAsync();
        }
        else
        {
            _page = 1;
        }
    }

    private async Task LoadNextPage()
    {
        _page += 1;
        if (_page <= _totalPages)
        {
            await RefreshReleasesAsync();
        }
        else
        {
            _page = _totalPages;
        }
    }

    private async Task ReleaseEditingKeyPress(KeyboardEventArgs obj)
    {
        if (obj.CtrlKey)
        {
            switch (obj.Key)
            {
                case "d":
                    await DeleteSelectedAsync();
                    break;
                case "m":
                    await MoveSelectedToLibraryAsync();
                    break;
                case "r":
                    await SetSelectedReleaseStatusToReviewed();
                    break;
                case "s":
                    await SaveSelectedReleaseAsync();
                    break;
            }
        }

        if (obj.AltKey)
        {
            switch (obj.Key)
            {
                case "r":
                    await RefreshReleasesAsync();
                    break;
            }
        }
    }

}
