@page "/"
@implements IAsyncDisposable

@using Toolbelt.Blazor.HotKeys2
@using System.Diagnostics
@using System.Globalization
@using System.Reflection
@using System.Text.Json
@using System.Text.Json.Serialization
@using Mapster
@using Melodee.Common.Extensions
@using Melodee.Common.Models
@using Melodee.Common.Models.Configuration
@using Melodee.Common.Models.Extensions
@using Melodee.Common.Utility
@using Melodee.Models
@using Melodee.Models.Enums
@using Melodee.Plugins.Discovery.Releases
@using Melodee.Plugins.MetaData.Track
@using Melodee.Plugins.Processor
@using Melodee.Plugins.Validation
@using Melodee.Plugins.Validation.Models
@using Serilog
@using Release = Melodee.Models.Release

<div class="container-fluid">
    <div class="row border-bottom border-secondary mb-2">
        <div class="col-7">
            <nav aria-label="...">
                <ul class="pagination pagination-sm">
                    <li class="page-item @(_page == 1 ? "disabled" : string.Empty)" @onclick="LastLastPage">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="@(_page == 0)">Previous</a>
                    </li>
                    <li class="page-item">
                        <span class="badge bg-primary py-2 nerd-text">@_page of @_totalPages</span>
                    </li>
                    <li class="page-item @(_page == _totalPages ? "disabled" : string.Empty)" @onclick="LoadNextPage">
                        <a class="page-link" href="#" aria-disabled="@(_page == _totalPages)">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col text-end fs-6 nerd-text">
            Total: <span class="badge bg-primary"> @((_loading ? 0 : _totalReleaseCount).ToStringPadLeft(6))</span>
            Selected: <span class="badge bg-primary">@_selectedReleaseIds.Count().ToStringPadLeft(3)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-8 col-lg-9">
            <div class="overflow-auto" style="max-height: 800px;">
                @if (_loading)
                {
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                }
                else if (_releases.Count == 0)
                {
                    <div class="d-flex justify-content-center">
                        <p>No Releases found.</p>
                    </div>
                }
                else
                {
                    @foreach (var release in _releases)
                    {
                        <div @onclick="Callback">
                            @{
                                async Task Callback()
                                {
                                    if (!_selectedReleaseIds.Contains(release.UniqueId))
                                    {
                                        _selectedReleaseIds.Add(release.UniqueId);
                                    }
                                    else
                                    {
                                        _selectedReleaseIds.Remove(release.UniqueId);
                                    }

                                    await GetReleaseDetailAsync(release.UniqueId);
                                    StateHasChanged();
                                }
                            }
                            <ReleaseCard
                                Release="release"
                                IsCurrent="release.UniqueId == _selectedRelease?.UniqueId"
                                IsSelected="_selectedReleaseIds.Contains(release.UniqueId)"
                                DefaultReleaseCover="_defaultReleaseCover"/>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="col-4 col-lg-3">
            @if (_loading)
            {
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            }
            else if (_selectedRelease == null)
            {
                <div class="d-flex justify-content-center">
                    <p>Nothing to see here.</p>
                </div>
            }
            else
            {
                <div>
                    <h6 class="float-start me-1">
                        @if (_selectedRelease.IsValid)
                        {
                            <span class="badge bg-info">Valid</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">Invalid</span>
                        }
                    </h6>
                    <h6 class="float-start me-1">
                        @if (_selectedRelease.IsVariousArtistTypeRelease)
                        {
                            <span class="badge bg-warning">Various Artists</span>
                        }
                        else if (!string.IsNullOrWhiteSpace(_selectedRelease.Genre))
                        {
                            <span class="badge bg-info">@_selectedRelease.Genre</span>
                        }
                    </h6>
                    <h6>
                        <span class="badge bg-info nerd-text">@_selectedRelease.CreatedFormattedDate</span>
                    </h6>
                </div>

                if (_selectedReleaseValidationResult is { IsValid: false })
                {
                    <div class="nerd-text overflow-auto" style="font-size:10px; max-height: 300px;">
                        @if (_selectedReleaseValidationResult.Messages != null)
                        {
                            <ul class="validation-message-list">
                                @foreach (var message in _selectedReleaseValidationResult.Messages.OrderBy(x => x.SortOrder))
                                {
                                    <li>
                                        <span class="@message.Severity.ToString().ToLower()">[@message.Severity]</span> @message.Message
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                }

                <div class="border-bottom border-secondary mb-2">
                    <div class="mb-3">
                        <label for="releaseStatus" class="form-label">Status</label>
                        <select class="form-select form-select-sm" @bind="_selectedRelease.ReleaseStatus" aria-label="Status" id="releaseStatus">
                            @foreach (var releaseStatus in _releaseStatuses)
                            {
                                <option value="@releaseStatus">@releaseStatus</option>
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="artist" class="form-label">Artist</label>
                        <input type="text" @bind:event="oninput" @bind="_selectedRelease.Artist" class="form-control" id="artist">
                    </div>
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" @bind:event="oninput" @bind="_selectedRelease.Title" class="form-control" id="title">
                    </div>
                    <div class="mb-3">
                        <label for="year" class="form-label">Year</label>
                        <input type="text" @bind:event="oninput" @bind="_selectedRelease.Year" class="form-control" id="year">
                    </div>
                </div>
                <div class="track-edit-container container overflow-auto" style="max-height: 500px; margin: 0; padding: 0 3px 0 0;">
                    @foreach (var media in _selectedRelease.MediaNumbers)
                    {
                        @foreach (var track in _selectedRelease.Tracks.Where(x => x.MediaNumber == media).OrderBy(x => x.Number))
                        {
                            <div @onmousedown="@(() => _selectedTrackId = track.TrackId)" class="@(track.IsValid ? "track-valid" : "track-invalid")">
                                <div class="row mb-2 ">
                                    <div class="col">
                                        <input type="number" @bind:event="oninput" @bind="track.MediaNumber" class="form-control" placeholder="Media" aria-label="Media">
                                    </div>
                                    <div class="col">
                                        <input type="number" @bind:event="oninput" @bind="track.Number" class="form-control" placeholder="Number" aria-label="Number">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <input type="text" @bind:event="oninput" @bind="track.TrackArtist" class="form-control" placeholder="Track Artist" aria-label="Track Artist">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <input type="text" @bind:event="oninput" @bind="track.Title" class="form-control" placeholder="Title" aria-label="Title">
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            }
        </div>
    </div>
</div>

<Modal @ref="_processingModal" title="Very busy..." Size="ModalSize.Large" IsVerticallyCentered="true" UseStaticBackdrop="true" CloseOnEscape="false">
    <BodyTemplate>
        <div class="mb-2">
            Please wait until processing completes.
            <Progress Class="mb-3">
                <ProgressBar @ref="_processingProgressBar" Width="0" Label="0%" />
            </Progress>
        </div>
        <ul class="overflow-auto nerd-text" style="height: 500px;font-size: 12px;">
            @foreach (var message in _processingMessages)
            {
                <li>@message</li>
            }
        </ul>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="CancelProcessing">Stop Processing</Button>
    </FooterTemplate>
</Modal>

<Modal @ref="_removeTextModal" Title="Remove provided text from Track Title" IsVerticallyCentered="true">
    <BodyTemplate>
        <div class="mb-2">
            <label for="artist" class="form-label">Text to replace</label>
            <input type="text" @bind:event="oninput" @bind="_removeTextValueToReplace" class="form-control">
        </div>
        <div class="mb-2">
            <label for="artist" class="form-label">Text to replace with</label>
            <input type="text" @bind:event="oninput" @bind="_removeTextValueToReplaceWith" class="form-control">
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="@(async () => await _removeTextModal.HideAsync())">Close</Button>
        <Button Color="ButtonColor.Primary" @onclick="OnRemoveTextHideModalClick">Save changes</Button>
    </FooterTemplate>
</Modal>

<Modal @ref="_releaseDetailsModal" Title="@_releaseDetail.ReleaseTitle()" Size="ModalSize.ExtraLarge" IsVerticallyCentered="true">
    <BodyTemplate>
        <div class="release-detail-container overflow-auto nerd-text">
            <div class="release-detail border-bottom">
                <div class="row">
                    <div class="col-5">
                        <h5>Status</h5>
                    </div>
                    <div class="col-7">
                        <p class="overflow-auto">@_releaseDetail.Status.ToString()</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <h5>Path</h5>
                    </div>
                    <div class="col-7">
                        <p class="overflow-auto">@_releaseDetail.Directory?.FullName()</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <h5>Created</h5>
                    </div>
                    <div class="col-7">
                        <p class="overflow-auto">@_releaseDetail.Created.ToString(Configuration.DateTimeDisplayFormatShort)</p>
                    </div>
                </div>
                @foreach (var tag in (_releaseDetail.Tags ?? Array.Empty<MetaTag<object?>>()).OrderBy(x => x.SortOrder))
                {
                    <div class="row">
                        <div class="col-5">
                            <h5>@tag.IdentifierDescription</h5>
                        </div>
                        <div class="col-7">
                            <p>@tag.Value</p>
                        </div>
                    </div>
                }
            </div>
            <div class="release-detail-tracks">
                @foreach (var track in (_releaseDetail.Tracks ?? Array.Empty<Track>()).OrderBy(x => x.SortOrder))
                {
                    <div class="release-detail-track-container border-bottom mb-1">
                        <div class="row">
                            <div class="col-5">
                                <h5>Info</h5>
                            </div>
                            <div class="col-7">
                                <p class="overflow-auto">@track.DisplaySummary</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <h5>Filename</h5>
                            </div>
                            <div class="col-7">
                                <p class="overflow-auto">@track.File.FullName(_releaseDetail.Directory ?? FileSystemDirectoryInfo.Blank())</p>
                            </div>
                        </div>
                        @foreach (var tag in (track.Tags ?? Array.Empty<MetaTag<object?>>()).OrderBy(x => x.SortOrder))
                        {
                            <div class="row">
                                <div class="col-5">
                                    <h5>@tag.IdentifierDescription</h5>
                                </div>
                                <div class="col-7">
                                    <p>@tag.Value</p>
                                </div>
                            </div>
                        }
                        @foreach (var tag in (track.MediaAudios ?? Array.Empty<MediaAudio<object?>>()).OrderBy(x => x.SortOrder))
                        {
                            <div class="row">
                                <div class="col-5">
                                    <h5>@tag.Identifier.ToString()</h5>
                                </div>
                                <div class="col-7">
                                    <p>@tag.Value</p>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="@(async () => await _releaseDetailsModal.HideAsync())">Close</Button>
    </FooterTemplate>
</Modal>

@code {
    Modal _removeTextModal = default!;
    Modal _releaseDetailsModal = default!;
    Modal _processingModal = default!;
    readonly List<string> _processingMessages = [];

    string? _removeTextValueToReplace;
    string? _removeTextValueToReplaceWith;

    byte[] _defaultReleaseCover = [];
    int _totalReleaseCount;
    int _page = 1;
    short _take = 10;
    int _totalPages = 1;
    bool _loading = true;
    bool _isProcessing;
    List<Release> _releases = [];
    ReleaseEditModel? _selectedRelease;
    ValidationResult? _selectedReleaseValidationResult;
    long? _selectedTrackId;

    Common.Models.Release _releaseDetail = new Common.Models.Release
    {
        ViaPlugins = [],
        OriginalDirectory = new FileSystemDirectoryInfo
        {
            Path = string.Empty,
            Name = string.Empty
        }
    };

    private HotKeysContext? _hotKeysContext;

    List<long> _selectedReleaseIds = [];
    readonly string[] _releaseStatuses = Enum.GetValues(typeof(ReleaseStatus)).Cast<ReleaseStatus>().Select(x => x.ToString()).ToArray();

    [CascadingParameter] public MainLayout Layout { get; set; } = null!;
    [Inject] private Configuration Configuration { get; set; } = default!;

    [Inject] private HotKeys HotKeys { get; set; } = default!;
    [Inject] private IReleasesDiscoverer ReleasesDiscoverer { get; set; } = default!;
    [Inject] private ITrackPlugin TrackPlugin { get; set; } = default!;
    [Inject] private IReleaseValidator ReleaseValidator { get; set; } = default!;
    [Inject] private IDirectoryProcessorPlugin DirectoryProcessorPlugin { get; set; } = default!;


    public async ValueTask DisposeAsync()
    {
        if (_hotKeysContext != null)
        {
            await _hotKeysContext.DisposeAsync();
        }
    }

    private async Task GetReleaseDetailAsync(long uniqueId)
    {
        _loading = true;

        _selectedReleaseValidationResult = null;
        _selectedTrackId = null;

        var detail = await ReleasesDiscoverer.ReleaseByUniqueIdAsync(Configuration.StagingDirectoryInfo, uniqueId);
        _selectedRelease = new ReleaseEditModel
        {
            UniqueId = detail.UniqueId,
            Artist = detail.Artist(),
            CreatedFormattedDate = detail.Created.ToString(Configuration.DateTimeDisplayFormatShort),
            Genre = detail.Genre(),
            Title = detail.ReleaseTitle(),
            IsValid = detail.IsValid(Configuration),
            IsVariousArtistTypeRelease = detail.IsVariousArtistTypeRelease(),
            ReleaseStatus = detail.Status.ToString(),
            Year = detail.ReleaseYear()?.ToString() ?? string.Empty,
            Tracks = detail.Tracks?.Select(x => new TrackEditModel
            {
                IsValid = x.IsValid(Configuration),
                Number = x.TrackNumber(),
                Title = x.Title() ?? string.Empty,
                TrackArtist = x.TrackArtist(),
                MediaNumber = x.MediaNumber()
            }).ToList() ?? []
        };
        _selectedReleaseValidationResult = ReleaseValidator.ValidateRelease(detail).Data;
        _loading = false;
    }

    protected override async Task OnInitializedAsync()
    {
        _take = Configuration.DefaultPageSize;

        // ensure default release cover bytes are loaded
        if (_defaultReleaseCover.Length == 0)
        {
            var appDir = new DirectoryInfo(Assembly.GetEntryAssembly()!.Location);
            _defaultReleaseCover = await File.ReadAllBytesAsync(Path.Combine(appDir.Parent!.FullName, "wwwroot", "images", "release.jpg"));
        }

        await RefreshReleasesAsync();

        Layout.SearchChanged += async (sender, args) => { await RefreshReleasesAsync(args.Item2, args.Item1); };
        Layout.MenuItemClicked += async (sender, args) =>
        {
            switch (args.Item1)
            {
                case MenuItem.DeleteSelected:
                    await DeleteSelectedAsync();
                    break;

                case MenuItem.MoveSelectedToLibrary:
                    await MoveSelectedToLibraryAsync();
                    break;

                case MenuItem.Refresh:
                    await RefreshReleasesAsync();
                    break;

                case MenuItem.RescanInbound:
                    await RescanInboundFolder();
                    break;

                case MenuItem.Save:
                    await SaveSelectedReleaseAsync();
                    break;

                case MenuItem.ShowReleaseDetails:
                    await ShowReleaseDetails();
                    break;

                case MenuItem.SelectAllReleases:
                    if (args.option as bool? ?? false)
                    {
                        _selectedReleaseIds = _releases.Select(x => x.UniqueId).ToList();
                    }
                    else
                    {
                        _selectedReleaseIds.Clear();
                    }
                    break;

                case MenuItem.SetSelectedStatusReviewed:
                    await SetSelectedReleaseStatusToReviewed();
                    break;

                case MenuItem.ViewFilterClicked:
                    await RefreshReleasesAsync(null, args.option as ReleaseResultFilter?);
                    break;

                case MenuItem.Tool:
                    switch (args.option as ToolMenuItem? ?? ToolMenuItem.NotSet)
                    {
                        case ToolMenuItem.DeleteAllImages:
                            await DeleteAllImages();
                            break;
                        case ToolMenuItem.PromoteTrackArtist:
                            await PromoteTrackArtist();
                            break;
                        case ToolMenuItem.RemoveAllTrackArtists:
                            await RemoveAllTrackArtists();
                            break;
                        case ToolMenuItem.RemoveArtistFromTrackArtists:
                            await RemoveArtistFromTrackArtists();
                            break;
                        case ToolMenuItem.RemoveProvidedTextFromTrackTitle:
                            await _removeTextModal.ShowAsync();
                            break;
                        case ToolMenuItem.RenumberTracks:
                            await RenumberTracks();
                            break;
                        case ToolMenuItem.ReplaceAllTrackArtistSeparators:
                            await ReplaceAllTrackArtistSeparators();
                            break;
                        case ToolMenuItem.SetYearToCurrent:
                            await SetYearToCurrent();
                            break;
                    }

                    break;
            }
        };
    }

    private async Task ShowReleaseDetails()
    {
        if (_selectedRelease == null)
        {
            return;
        }

        _releaseDetail = await ReleasesDiscoverer.ReleaseByUniqueIdAsync(Configuration.StagingDirectoryInfo, _selectedRelease.UniqueId);
        await _releaseDetailsModal.ShowAsync();
    }

    private async Task OnRemoveTextHideModalClick()
    {
        await _removeTextModal.HideAsync();
        if (_selectedRelease == null || _removeTextValueToReplace.Nullify() == null)
        {
            return;
        }

        _loading = true;
        var modified = false;
        var release = await ReleasesDiscoverer.ReleaseByUniqueIdAsync(Configuration.StagingDirectoryInfo, _selectedRelease.UniqueId);
        var releaseStagingDirInfo = new DirectoryInfo(Path.Combine(Configuration.StagingDirectory, release.ToDirectoryName()));
        foreach (var track in release.Tracks!)
        {
            var originalTitle = track.Title() ?? string.Empty;
            var newTitle = track.Title()!.Replace(originalTitle, _removeTextValueToReplaceWith ?? string.Empty).Trim();
            if (!string.Equals(originalTitle, newTitle, StringComparison.OrdinalIgnoreCase))
            {
                release.SetTrackTagValue(track.TrackId, MetaTagIdentifier.Title, newTitle);
                await TrackPlugin.UpdateTrackAsync(release.Directory!, track);
                modified = true;
            }
        }

        if (modified)
        {
            var serialized = JsonSerializer.Serialize(release, _jsonSerializerOptions);
            await File.WriteAllTextAsync(Path.Combine(releaseStagingDirInfo.FullName, release.ToMelodeeJsonName(true)), serialized);
            ReleasesDiscoverer.ClearCache();
            await RefreshReleasesAsync();
        }
    }

    private async Task PromoteTrackArtist()
    {
        if (_selectedReleaseIds.Count == 0)
        {
            return;
        }

        _loading = true;
        foreach (var selectedReleaseId in _selectedReleaseIds)
        {
            var release = await ReleasesDiscoverer.ReleaseByUniqueIdAsync(Configuration.StagingDirectoryInfo, selectedReleaseId);
            var artistToPromote = release.Tracks?.FirstOrDefault(x => x.TrackId == _selectedTrackId)?.TrackArtist();
            if (artistToPromote.Nullify() != null)
            {
                release.SetTagValue(MetaTagIdentifier.AlbumArtist, artistToPromote);
                var releaseStagingDirInfo = new DirectoryInfo(Path.Combine(Configuration.StagingDirectory, release.ToDirectoryName()));
                foreach (var track in release.Tracks!)
                {
                    release.RemoveTrackTagValue(track.TrackId, MetaTagIdentifier.Artist);
                    await TrackPlugin.UpdateTrackAsync(release.Directory!, track);
                }

                var serialized = JsonSerializer.Serialize(release, _jsonSerializerOptions);
                await File.WriteAllTextAsync(Path.Combine(releaseStagingDirInfo.FullName, release.ToMelodeeJsonName(true)), serialized);
            }
        }

        _selectedReleaseIds.Clear();
        ReleasesDiscoverer.ClearCache();
        await RefreshReleasesAsync();
    }

    private async Task SetYearToCurrent()
    {
        if (_selectedReleaseIds.Count == 0)
        {
            return;
        }

        _loading = true;
        var year = DateTime.Now.Year;
        foreach (var selectedReleaseId in _selectedReleaseIds)
        {
            var release = await ReleasesDiscoverer.ReleaseByUniqueIdAsync(Configuration.StagingDirectoryInfo, selectedReleaseId);
            release.SetTagValue(MetaTagIdentifier.OrigReleaseYear, year);
            var releaseStagingDirInfo = new DirectoryInfo(Path.Combine(Configuration.StagingDirectory, release.ToDirectoryName()));
            foreach (var track in release.Tracks!)
            {
                release.SetTrackTagValue(track.TrackId, MetaTagIdentifier.OrigReleaseYear, year);
                await TrackPlugin.UpdateTrackAsync(release.Directory!, track);
            }

            var serialized = JsonSerializer.Serialize(release, _jsonSerializerOptions);
            await File.WriteAllTextAsync(Path.Combine(releaseStagingDirInfo.FullName, release.ToMelodeeJsonName(true)), serialized);
        }

        _selectedReleaseIds.Clear();
        ReleasesDiscoverer.ClearCache();
        await RefreshReleasesAsync();
    }

    private async Task RemoveAllTrackArtists()
    {
        if (_selectedReleaseIds.Count == 0)
        {
            return;
        }

        _loading = true;
        foreach (var selectedReleaseId in _selectedReleaseIds)
        {
            var release = await ReleasesDiscoverer.ReleaseByUniqueIdAsync(Configuration.StagingDirectoryInfo, selectedReleaseId);
            var releaseStagingDirInfo = new DirectoryInfo(Path.Combine(Configuration.StagingDirectory, release.ToDirectoryName()));
            foreach (var track in release.Tracks!)
            {
                release.RemoveTrackTagValue(track.TrackId, MetaTagIdentifier.AlbumArtist);
                release.RemoveTrackTagValue(track.TrackId, MetaTagIdentifier.Artist);
                await TrackPlugin.UpdateTrackAsync(release.Directory!, track);
            }

            var serialized = JsonSerializer.Serialize(release, _jsonSerializerOptions);
            await File.WriteAllTextAsync(Path.Combine(releaseStagingDirInfo.FullName, release.ToMelodeeJsonName(true)), serialized);
        }

        _selectedReleaseIds.Clear();
        ReleasesDiscoverer.ClearCache();
        await RefreshReleasesAsync();
    }

    private async Task ReplaceAllTrackArtistSeparators()
    {
        if (_selectedReleaseIds.Count == 0)
        {
            return;
        }

        _loading = true;
        foreach (var selectedReleaseId in _selectedReleaseIds)
        {
            var release = await ReleasesDiscoverer.ReleaseByUniqueIdAsync(Configuration.StagingDirectoryInfo, selectedReleaseId);
            var releaseStagingDirInfo = new DirectoryInfo(Path.Combine(Configuration.StagingDirectory, release.ToDirectoryName()));
            foreach (var track in release.Tracks!.Where(x => x.TrackArtist().Nullify() != null))
            {
                var oldTrackArtist = track.TrackArtist();
                var newTrackArtist = MetaTagsProcessor.ReplaceTrackArtistSeparators(oldTrackArtist);
                if (!string.Equals(oldTrackArtist, newTrackArtist, StringComparison.OrdinalIgnoreCase))
                {
                    release.SetTrackTagValue(track.TrackId, MetaTagIdentifier.AlbumArtist, null);
                    await TrackPlugin.UpdateTrackAsync(release.Directory!, track);
                }
            }
            var serialized = JsonSerializer.Serialize(release, _jsonSerializerOptions);
            await File.WriteAllTextAsync(Path.Combine(releaseStagingDirInfo.FullName, release.ToMelodeeJsonName(true)), serialized);
        }

        _selectedReleaseIds.Clear();
        ReleasesDiscoverer.ClearCache();
        await RefreshReleasesAsync();
    }

    private async Task RenumberTracks()
    {
        if (_selectedReleaseIds.Count == 0)
        {
            return;
        }

        _loading = true;
        foreach (var selectedReleaseId in _selectedReleaseIds)
        {
            var release = await ReleasesDiscoverer.ReleaseByUniqueIdAsync(Configuration.StagingDirectoryInfo, selectedReleaseId);
            var releaseStagingDirInfo = new DirectoryInfo(Path.Combine(Configuration.StagingDirectory, release.ToDirectoryName()));
            var numberOfMedias = release.MediaCountValue();
            var mediaLooper = 0;
            while (mediaLooper <= numberOfMedias)
            {
                var looper = mediaLooper;
                foreach (var dd in release.Tracks?.Where(x => x.MediaNumber() == looper).Select((x, i) => new { x, i }) ?? [])
                {
                    release.SetTrackTagValue(dd.x.TrackId, MetaTagIdentifier.TrackNumber, dd.i);
                    await TrackPlugin.UpdateTrackAsync(release.Directory!, dd.x);
                }

                mediaLooper++;
            }

            var serialized = JsonSerializer.Serialize(release, _jsonSerializerOptions);
            await File.WriteAllTextAsync(Path.Combine(releaseStagingDirInfo.FullName, release.ToMelodeeJsonName(true)), serialized);
        }

        _selectedReleaseIds.Clear();
        ReleasesDiscoverer.ClearCache();
        await RefreshReleasesAsync();
    }

    private async Task RemoveArtistFromTrackArtists()
    {
        if (_selectedReleaseIds.Count == 0)
        {
            return;
        }

        _loading = true;
        foreach (var selectedReleaseId in _selectedReleaseIds)
        {
            var release = await ReleasesDiscoverer.ReleaseByUniqueIdAsync(Configuration.StagingDirectoryInfo, selectedReleaseId);
            var releaseStagingDirInfo = new DirectoryInfo(Path.Combine(Configuration.StagingDirectory, release.ToDirectoryName()));
            foreach (var track in release.Tracks!)
            {
                release.SetTrackTagValue(track.TrackId, MetaTagIdentifier.AlbumArtist, null);
                await TrackPlugin.UpdateTrackAsync(release.Directory!, track);
            }

            var serialized = JsonSerializer.Serialize(release, _jsonSerializerOptions);
            await File.WriteAllTextAsync(Path.Combine(releaseStagingDirInfo.FullName, release.ToMelodeeJsonName(true)), serialized);
        }

        _selectedReleaseIds.Clear();
        ReleasesDiscoverer.ClearCache();
        await RefreshReleasesAsync();
    }

    private readonly JsonSerializerOptions _jsonSerializerOptions = new()
    {
        DefaultIgnoreCondition = JsonIgnoreCondition.WhenWritingNull
    };

    private ProgressBar _processingProgressBar = default!;

    private async Task DeleteAllImages()
    {
        if (_selectedReleaseIds.Count == 0)
        {
            return;
        }

        _loading = true;
        foreach (var selectedReleaseId in _selectedReleaseIds)
        {
            var release = await ReleasesDiscoverer.ReleaseByUniqueIdAsync(Configuration.StagingDirectoryInfo, selectedReleaseId);
            var releaseStagingDirInfo = new DirectoryInfo(Path.Combine(Configuration.StagingDirectory, release.ToDirectoryName()));
            release.Images = [];
            var serialized = JsonSerializer.Serialize(release, _jsonSerializerOptions);
            await File.WriteAllTextAsync(Path.Combine(releaseStagingDirInfo.FullName, release.ToMelodeeJsonName(true)), serialized);
            foreach (var imageFile in ImageHelper.ImageFilesInDirectory(releaseStagingDirInfo.FullName, SearchOption.AllDirectories))
            {
                File.Delete(imageFile);
            }

            foreach (var track in release.Tracks!)
            {
                track.Images = [];
                await TrackPlugin.UpdateTrackAsync(release.Directory!, track);
            }
        }

        _selectedReleaseIds.Clear();
        ReleasesDiscoverer.ClearCache();
        await RefreshReleasesAsync();
    }

    private async Task SetSelectedReleaseStatusToReviewed()
    {
        if (_selectedReleaseIds.Count == 0)
        {
            return;
        }

        _loading = true;
        foreach (var selectedReleaseId in _selectedReleaseIds)
        {
            var release = await ReleasesDiscoverer.ReleaseByUniqueIdAsync(Configuration.StagingDirectoryInfo, selectedReleaseId);
            var releaseStagingDirInfo = new DirectoryInfo(Path.Combine(Configuration.StagingDirectory, release.ToDirectoryName()));
            release.Status = ReleaseStatus.Reviewed;
            var serialized = JsonSerializer.Serialize(release, _jsonSerializerOptions);
            await File.WriteAllTextAsync(Path.Combine(releaseStagingDirInfo.FullName, release.ToMelodeeJsonName(true)), serialized);
        }

        _selectedReleaseIds.Clear();
        ReleasesDiscoverer.ClearCache();
        await RefreshReleasesAsync();
    }

    private async Task MoveSelectedToLibraryAsync()
    {
        if (_selectedReleaseIds.Count == 0)
        {
            return;
        }

        try
        {
            _loading = true;
            foreach (var selectedReleaseId in _selectedReleaseIds)
            {
                var release = await ReleasesDiscoverer.ReleaseByUniqueIdAsync(Configuration.StagingDirectoryInfo, selectedReleaseId);
                var releaseStagingDirInfo = new DirectoryInfo(Path.Combine(Configuration.StagingDirectory, release.ToDirectoryName()));
                var releaseLibraryDirInfo = new DirectoryInfo(Path.Combine(Configuration.LibraryDirectory, release.ToDirectoryName()));
                MoveDirectory(releaseStagingDirInfo.FullName, releaseLibraryDirInfo.FullName, Configuration.MoveMelodeeJsonDataFileToLibrary ? null : Common.Models.Release.JsonFileName);
            }

            _selectedReleaseIds.Clear();
            ReleasesDiscoverer.ClearCache();
            await RefreshReleasesAsync();
        }
        catch (Exception ex)
        {
            Log.Error(ex, "Moving Selected Releases To Library");
        }
        finally
        {
            _loading = false;
        }
    }

    private static void MoveDirectory(string toMove, string destination, string? dontMoveFileName)
    {
        if (!Directory.Exists(destination))
        {
            Directory.CreateDirectory(destination);
        }

        var files = Directory.GetFiles(toMove);
        var directories = Directory.GetDirectories(toMove);
        foreach (var file in files)
        {
            if (!string.Equals(Path.GetFileName(file), dontMoveFileName, StringComparison.OrdinalIgnoreCase))
            {
                File.Copy(file, Path.Combine(destination, Path.GetFileName(file)), true);
            }
        }

        foreach (var d in directories)
        {
            MoveDirectory(Path.Combine(toMove, Path.GetFileName(d)), Path.Combine(destination, Path.GetFileName(d)), dontMoveFileName);
        }

        Directory.Delete(toMove, true);
    }

    private async Task DeleteSelectedAsync()
    {
        if (_selectedReleaseIds.Count == 0)
        {
            return;
        }

        _loading = true;
        foreach (var selectedReleaseId in _selectedReleaseIds)
        {
            var release = await ReleasesDiscoverer.ReleaseByUniqueIdAsync(Configuration.StagingDirectoryInfo, selectedReleaseId);
            var releaseStagingDirInfo = new DirectoryInfo(Path.Combine(Configuration.StagingDirectory, release.ToDirectoryName()));
            try
            {
                Directory.Delete(releaseStagingDirInfo.FullName, true);
            }
            catch (Exception e)
            {
                Log.Error(e, "Error deleting [{ReleaseId}]", selectedReleaseId);
            }
        }

        _selectedReleaseIds.Clear();
        ReleasesDiscoverer.ClearCache();
        await RefreshReleasesAsync();
    }

    private async Task RescanInboundFolder()
    {
        if (_isProcessing)
        {
            return;
        }
        await _processingModal.ShowAsync();
        _isProcessing = true;
        Layout.IsProcessing = true;
        try
        {
            var directoriesToProcess = 0;
            var directoriesProcessed = 0;
            DirectoryProcessorPlugin.OnProcessingStart += (sender, i) => directoriesToProcess = i;
            DirectoryProcessorPlugin.OnDirectoryProcessed += (sender, release) =>
            {
                directoriesProcessed++;
                var percentageComplete = Math.Round((double)(100 * directoriesProcessed) / directoriesToProcess);
                _processingProgressBar.SetWidth(percentageComplete);
                _processingProgressBar.SetLabel($"{percentageComplete.ToString(CultureInfo.InvariantCulture)}%");
                StateHasChanged();
            };
            DirectoryProcessorPlugin.OnProcessingEvent += (sender, s) =>
            {
                _processingMessages.Insert(0, $"{ DateTime.Now.ToString(Configuration.DateTimeDisplayActivityFormat)}:: {s}");
            };
            var sw = Stopwatch.StartNew();
            var rescanResult = await DirectoryProcessorPlugin.ProcessDirectoryAsync(Configuration.InboundDirectoryInfo);
            if (!rescanResult?.IsSuccess ?? false)
            {
                Layout.ToastService.Notify(new ToastMessage
                {
                    IconName = IconName.HeartBreak,
                    Message = $"An error has occured in rescanning. Check logs for details.",
                    Title = "Oh noes!",
                    Type = ToastType.Danger
                });
            }
            ReleasesDiscoverer.ClearCache();
            sw.Stop();
            await RefreshReleasesAsync();
            Layout.ToastService.Notify(new ToastMessage
            {
                IconName = IconName.Activity,
                Message = $"Rescan completed in [{sw}]. Processed [{directoriesProcessed}] releases.",
                Title = "Rescan complete",
                Type = ToastType.Success
            });
        }
        finally
        {
            _isProcessing = false;
            Layout.IsProcessing = false;
            await _processingModal.HideAsync();
        }
    }

    private async Task CancelProcessing()
    {
        DirectoryProcessorPlugin.StopProcessing();
        await _processingModal.HideAsync();
    }

    private async Task SaveSelectedReleaseAsync()
    {
        _loading = true;
        var release = await ReleasesDiscoverer.ReleaseByUniqueIdAsync(Configuration.StagingDirectoryInfo, _selectedRelease!.UniqueId);
        var releaseDirectoryName = release.ToDirectoryName();
        var releaseStagingDirInfo = new DirectoryInfo(Path.Combine(Configuration.StagingDirectory, releaseDirectoryName));

        release.SetTagValue(MetaTagIdentifier.AlbumArtist, _selectedRelease.Artist);
        release.SetTagValue(MetaTagIdentifier.OrigReleaseYear, _selectedRelease.Year);
        release.SetTagValue(MetaTagIdentifier.Album, _selectedRelease.Title);
        foreach (var track in _selectedRelease.Tracks)
        {
            release.SetTrackTagValue(track.TrackId, MetaTagIdentifier.Artist, track.TrackArtist);
            release.SetTrackTagValue(track.TrackId, MetaTagIdentifier.DiscNumber, track.MediaNumber);
            release.SetTrackTagValue(track.TrackId, MetaTagIdentifier.Title, track.Title);
            release.SetTrackTagValue(track.TrackId, MetaTagIdentifier.TrackNumber, track.Number);
        }

        release.Status = ReleaseStatus.Reviewed;
        var serialized = JsonSerializer.Serialize(release, _jsonSerializerOptions);
        var newReleaseDirectoryName = release.ToDirectoryName();
        if (newReleaseDirectoryName != releaseDirectoryName)
        {
            // Release was renamed, rename Release folder
            var newReleaseStagingDirInfo = new DirectoryInfo(Path.Combine(Configuration.StagingDirectory, newReleaseDirectoryName));
            Directory.Move(releaseStagingDirInfo.FullName, newReleaseStagingDirInfo.FullName);
            releaseStagingDirInfo = newReleaseStagingDirInfo;
        }

        await File.WriteAllTextAsync(Path.Combine(releaseStagingDirInfo.FullName, release.ToMelodeeJsonName(true)), serialized);
        foreach (var track in release.Tracks!)
        {
            await TrackPlugin.UpdateTrackAsync(release.Directory!, track);
        }

        ReleasesDiscoverer.ClearCache();
        await RefreshReleasesAsync();
    }

    private async Task RefreshReleasesAsync(string? search = null, ReleaseResultFilter? filter = null)
    {
        var sw = Stopwatch.StartNew();
        _loading = true;
        Layout.IsProcessing = true;
        StateHasChanged();
        try
        {
            var releasesForStagingFolder = await ReleasesDiscoverer.ReleasesGridsForDirectoryAsync(
                Configuration.StagingDirectoryInfo, new PagedRequest
                {
                    Page = _page,
                    Take = _take,
                    Search = search,
                    Filter = filter,
                    SelectedReleaseIds = _selectedReleaseIds.ToArray()
                });
            _releases = releasesForStagingFolder.Data.AsQueryable().ProjectToType<Release>().ToList();
            _totalReleaseCount = releasesForStagingFolder.TotalCount;
            _totalPages = releasesForStagingFolder.TotalPages;
            if (_releases.Count > 0)
            {
                await GetReleaseDetailAsync(_releases.First().UniqueId);
            }
            else
            {
                _selectedRelease = null;
            }
            sw.Stop();
            Layout.ToastService.Notify(new ToastMessage
            {
                IconName = IconName.Activity,
                Message = $"Refresh completed in [{sw}]",
                Title = "Refresh complete",
                Type = ToastType.Success
            });
        }
        finally
        {
            _loading = false;
            StateHasChanged();
            Layout.IsProcessing = false;
        }
    }

    private async Task LastLastPage()
    {
        _page -= 1;
        if (_page > 0)
        {
            await RefreshReleasesAsync();
        }
        else
        {
            _page = 1;
        }
    }

    private async Task LoadNextPage()
    {
        _page += 1;
        if (_page <= _totalPages)
        {
            await RefreshReleasesAsync();
        }
        else
        {
            _page = _totalPages;
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            _hotKeysContext = HotKeys.CreateContext()
                .Add(ModCode.Ctrl, Code.D, DeleteSelectedAsync, new() { Description = "Delete selected Release(s)." })
                .Add(ModCode.Ctrl, Code.M, MoveSelectedToLibraryAsync, new() { Description = "Move selected Release(s) to Library Directory." })
                .Add(ModCode.Ctrl, Code.R, SetSelectedReleaseStatusToReviewed, new() { Description = "Set selected Release(s) status as Reviewed." })
                .Add(ModCode.Ctrl, Code.S, SaveSelectedReleaseAsync, new() { Description = "Save selected Release." })
                .Add(ModCode.None, Code.F2, ShowReleaseDetails, new() { Description = "Show Details of selected Release." })
                .Add(ModCode.None, Code.F5, (() => RefreshReleasesAsync()), new() { Description = "Refresh view of Staging Directory." })
                .Add(ModCode.None, Code.F6, RescanInboundFolder, new() { Description = "Rescan Inbound Directory." });
        }
    }
}
