@page "/"
@using System.Reflection
@using Mapster
@using Melodee.Common.Enums
@using Melodee.Common.Extensions
@using Melodee.Common.Models
@using Melodee.Common.Models.Configuration
@using Melodee.Common.Models.Extensions
@using Melodee.Models
@using Melodee.Plugins.Discovery.Releases
@using Release = Melodee.Models.Release

@inject Configuration Configuration
@inject IReleasesDiscoverer ReleasesDiscoverer

<div class="container-fluid">
    <div class="row border-bottom border-secondary mb-2">
        <div class="col-7">
            <nav aria-label="...">
                <ul class="pagination pagination-sm">
                    <li class="page-item @(_page == 1 ? "disabled" : string.Empty)"  @onclick="LastLastPage">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="@(_page == 0)">Previous</a>
                    </li>
                    <li class="page-item"><span class="badge bg-primary py-2 nerd-text">@_page of @_totalPages</span></li>
                    <li class="page-item @(_page == _totalPages ? "disabled" : string.Empty)" @onclick="LoadNextPage">
                        <a class="page-link" href="#" aria-disabled="@(_page == _totalPages)">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col text-end fs-6 nerd-text">
            Total: <span class="badge bg-primary"> @_totalReleaseCount.ToStringPadLeft(6)</span>
            Selected:  <span class="badge bg-primary">@_selectedReleaseIds.Count().ToStringPadLeft(3)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="overflow-auto" style="max-height: 800px;">
            @foreach (var release in _releases)
            {
                <div @onclick="Callback">
                    @{
                        async Task Callback()
                        {
                            if (!_selectedReleaseIds.Contains(release.UniqueId))
                            {
                                _selectedReleaseIds.Add(release.UniqueId);
                            }
                            else
                            {
                                _selectedReleaseIds.Remove(release.UniqueId);
                            }
                            await GetReleaseDetailAsync(release.UniqueId);
                            StateHasChanged();
                        }
                    }
                    <ReleaseCard
                        Release="release"
                        IsCurrent="release.UniqueId == _selectedRelease?.UniqueId"
                        IsSelected="_selectedReleaseIds.Contains(release.UniqueId)"
                        DefaultReleaseCover="_defaultReleaseCover" />
                </div>
            }
            </div>
        </div>
        <div class="col">
            @if (_loading)
            {
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            }
            else if(_selectedRelease != null)
            {
                <form>
                    <div class="border-bottom border-secondary mb-2">
                        <div class="mb-3">
                            <label for="releaseStatus" class="form-label">Status</label>
                            <select class="form-select form-select-sm" @bind="_selectedRelease.ReleaseStatus" aria-label="Status" id="releaseStatus">
                                @foreach (var releaseStatus in _releaseStatuses)
                                {
                                    <option value="@releaseStatus">@releaseStatus</option>
                                }
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="artist" class="form-label">Artist</label>
                            <input type="text" @bind="_selectedRelease.Artist" class="form-control" id="artist">
                        </div>
                        <div class="mb-3">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" @bind="_selectedRelease.Title" class="form-control" id="title">
                        </div>
                        <div class="mb-3">
                            <label for="year" class="form-label">Year</label>
                            <input type="text" @bind="_selectedRelease.Year" class="form-control" id="year">
                        </div>
                    </div>
                    <div class="track-edit-container container overflow-auto" style="max-height: 500px;">
                        @foreach (var media in _selectedRelease.MediaNumbers)
                        {
                            @foreach (var track in _selectedRelease.Tracks.Where(x => x.MediaNumber == media).OrderBy(x => x.Number))
                            {
                                <div class="row mb-3">
                                    <div class="col">
                                        <input type="number" @bind="track.MediaNumber" class="form-control" placeholder="Media" aria-label="Media">
                                    </div>
                                    <div class="col">
                                        <input type="number" @bind="track.Number" class="form-control" placeholder="Number" aria-label="Number">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <input type="text" @bind="track.Title" class="form-control" placeholder="Title" aria-label="Title">
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </form>
            }
        </div>
    </div>
</div>

@* <script type="text/javascript"> *@
@*     $(document).ready(function() { *@
@*         $(document).on('click', ".release-card", function () { *@
@*             $(this).toggleClass("release-selected"); *@
@*         }); *@
@*     }); *@
@* </script> *@

@code {

    byte[] _defaultReleaseCover = [];
    int _totalReleaseCount = 0;
    int _page = 1;
    short _take = 10;
    int _totalPages = 1;
    bool _loading = false;
    Release[] _releases = [];
    ReleaseEditModel? _selectedRelease = null;
    List<long> _selectedReleaseIds = [];
    string[] _releaseStatuses = Enum.GetValues(typeof(ReleaseStatus)).Cast<ReleaseStatus>().Select(x => x.ToString()).ToArray();

    [CascadingParameter]
    public MainLayout Layout { get; set; }

    public async Task GetReleaseDetailAsync(long uniqueId)
    {
        _loading = true;

        var detail = await ReleasesDiscoverer.ReleaseByUniqueIdAsync(Configuration.StagingDirectoryInfo, uniqueId);
        _selectedRelease = new ReleaseEditModel
        {
            UniqueId = detail.UniqueId,
            Artist = detail.Artist(),
            Title = detail.ReleaseTitle(),
            ReleaseStatus = detail.Status.ToString(),
            Year = detail.ReleaseYear()?.ToString() ?? string.Empty,
            Tracks = detail.Tracks?.Select(x => new TrackEditModel
            {
                Number = x.TrackNumber(),
                Title = x.Title() ?? string.Empty,
                MediaNumber = x.MediaNumber()
            }).ToList() ?? []
        };
        _loading = false;
    }

    protected override async Task OnInitializedAsync()
    {
        _take = Configuration.DefaultPageSize;

        // ensure default release cover bytes are loaded
        if (_defaultReleaseCover.Length == 0)
        {
            var appDir = new DirectoryInfo(Assembly.GetEntryAssembly()!.Location);
            _defaultReleaseCover = await File.ReadAllBytesAsync(Path.Combine(appDir.Parent.FullName, "wwwroot", "images", "release.jpg"));
        }
        await RefreshReleasesAsync();

        Layout.SearchChanged += (sender, args) =>
        {
            RefreshReleasesAsync((sender as MainLayout)?.SearchText).ConfigureAwait(true).GetAwaiter();
        };
    }

    private async Task RefreshReleasesAsync(string? filter = null)
    {
        _loading = true;
        var releasesForStagingFolder = await ReleasesDiscoverer.ReleasesGridsForDirectoryAsync(
            Configuration.StagingDirectoryInfo, new PagedRequest
            {
                Page = _page,
                Take = _take,
                Filter = filter,
            });
        _releases = releasesForStagingFolder.Data.AsQueryable().ProjectToType<Release>().ToArray();
        _totalReleaseCount = releasesForStagingFolder.TotalCount;
        _totalPages = releasesForStagingFolder.TotalPages;
        if (_releases.Length > 0)
        {
            await GetReleaseDetailAsync(_releases.First().UniqueId);
        }
        _loading = false;
        StateHasChanged();
    }

    private async Task LastLastPage()
    {
        _page -= 1;
        if (_page > 0)
        {
            await RefreshReleasesAsync();
        }
        else
        {
            _page = 1;
        }
    }

    private async Task LoadNextPage()
    {
        _page += 1;
        if (_page <= _totalPages)
        {
            await RefreshReleasesAsync();
        }
        else
        {
            _page = _totalPages;
        }
    }

}

