@page "/"
@using System.Reflection
@using Mapster
@using Melodee.Common.Extensions
@using Melodee.Common.Models
@using Melodee.Common.Models.Cards
@using Melodee.Common.Models.Configuration
@using Melodee.Common.Models.Extensions
@using Melodee.Plugins.Discovery.Releases
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Release = Melodee.Models.Release

@inject Configuration Configuration
@inject IReleasesDiscoverer ReleasesDiscoverer

<div class="container-fluid">
    <div class="row border-bottom border-secondary mb-2">
        <div class="col-7">
            <nav aria-label="...">
                <ul class="pagination pagination-sm">
                    <li class="page-item @(_page == 1 ? "disabled" : string.Empty)"  @onclick="LastLastPage">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="@(_page == 0)">Previous</a>
                    </li>
                    <li class="page-item"><span class="badge bg-primary py-2 nerd-text">@_page of @_totalPages</span></li>
                    <li class="page-item @(_page == _totalPages ? "disabled" : string.Empty)" @onclick="LoadNextPage">
                        <a class="page-link" href="#" aria-disabled="@(_page == _totalPages)">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col text-end fs-6 nerd-text">
            Total: <span class="badge bg-primary"> @_totalReleaseCount.ToStringPadLeft(6)</span>
            Selected:  <span class="badge bg-primary">@_selectedReleaseIds.Count().ToStringPadLeft(3)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="overflow-auto" style="max-height: 800px;">
            @foreach (var release in _releases)
            {
                <div @onclick="Callback"
                     data-releaseid="@release.UniqueId"
                     class="release-card card m-2 @($"release-{release.ReleaseStatus.ToString().ToLower()}"))">
                    @{
                        void Callback()
                        {
                            _selectedRelease = release;
                            if (!_selectedReleaseIds.Contains(release.UniqueId))
                            {
                                _selectedReleaseIds.Add(release.UniqueId);
                            }
                            else
                            {
                                _selectedReleaseIds.Remove(release.UniqueId);
                            }
                            StateHasChanged();
                        }
                    }
                    <img src="@release.ImageBase64String(_defaultReleaseCover)"
                         class="card-img-top rounded mx-auto d-block" alt="@release.Title">
                    <div class="card-body" style="margin:0; padding: 4px;">
                        <h5 class="card-title"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="@release.Title"
                            style="margin-bottom: 8px; padding-bottom: 0; font-size:16px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">@release.Title</h5>
                        <h6 class="card-subtitle mb-2 text-muted"
                            data-bs-placement="top" title="@release.Artist"
                            style="font-size: 14px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">@release.Artist</h6>
                        <p class="card-text">
                            <span style="font-size: 12px;">@release.InfoLine</span>
                        </p>
                    </div>
                </div>
            }
            </div>
        </div>
        <div class="col">
            @if (_scanning)
            {
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            }
            else if(_selectedRelease != null)
            {
                <p>Show Details for @_selectedRelease.Title</p>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $(document).on('click', ".release-card", function () {
            $(this).toggleClass("release-selected");
        });
        $(document).on('keyup', "#mainSearchInput", function (e) {
            alert('do search');
        });
    });
</script>

@code {

    byte[] _defaultReleaseCover = [];
    int _totalReleaseCount = 0;
    int _page = 1;
    short _take = 10;
    int _totalPages = 1;
    bool _scanning = false;
    Release[] _releases = [];
    Release? _selectedRelease = null;
    List<long> _selectedReleaseIds = [];

    [CascadingParameter]
    public MainLayout Layout { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _take = Configuration.DefaultPageSize;

        // ensure default release cover bytes are loaded
        if (_defaultReleaseCover.Length == 0)
        {
            var appDir = new DirectoryInfo(Assembly.GetEntryAssembly()!.Location);
            _defaultReleaseCover = await File.ReadAllBytesAsync(Path.Combine(appDir.Parent.FullName, "wwwroot", "images", "release.jpg"));
        }
        await RefreshReleasesAsync();

        Layout.SearchChanged += (sender, args) =>
        {
            RefreshReleasesAsync((sender as MainLayout)?.SearchText).ConfigureAwait(true).GetAwaiter();
        };
    }

    private async Task RefreshReleasesAsync(string? filter = null)
    {
        _scanning = true;
        var releasesForStagingFolder = await ReleasesDiscoverer.ReleasesGridsForDirectoryAsync(
            Configuration.StagingDirectoryInfo, new PagedRequest
            {
                Page = _page,
                Take = _take,
                Filter = filter,
            });
        _releases = releasesForStagingFolder.Data.AsQueryable().ProjectToType<Release>().ToArray();
        _totalReleaseCount = releasesForStagingFolder.TotalCount;
        _totalPages = releasesForStagingFolder.TotalPages;
        if (_releases.Length > 0)
        {
            _selectedRelease = _releases.First();
        }
        _scanning = false;
        StateHasChanged();
    }

    private async Task LastLastPage()
    {
        _page -= 1;
        if (_page > 0)
        {
            await RefreshReleasesAsync();
        }
        else
        {
            _page = 1;
        }
    }

    private async Task LoadNextPage()
    {
        _page += 1;
        if (_page <= _totalPages)
        {
            await RefreshReleasesAsync();
        }
        else
        {
            _page = _totalPages;
        }
    }

}

